argh==0.26.2
Click==7.0
Flask==1.1.1
Flask-Assets==0.12
itsdangerous==1.1.0
Jinja2==2.10.1
libsass==0.19.2
MarkupSafe==1.1.1
pathtools==0.1.2
pysass==0.1.0
pyScss==1.3.5
PyYAML==5.1.2
six==1.12.0
watchdog==0.9.0
webassets==0.12.1
Werkzeug==0.15.5
