<div class="drop-down-menu" id="drop-down-menu" aria-hidden="true">
  <ul class="menulist" aria-hidden="true">
    <li><a class="menuitems" aria-hidden="true" href="./work">Work</a></li>		
    <li><a class="menuitems" aria-hidden="true" href="./resume">Resumé</a></li>				
    <li><a class="menuitems" aria-hidden="true" href="./about">About</a></li>
    <li><a class="menuitems" aria-hidden="true" href="mailto:znsbowles@gmail.com">Contact me</a></li>
  </ul>		
  <div class="close-button" onclick="navToggle()">
      <svg width="28" height="28" xmlns="http://www.w3.org/2000/svg"><g fill="#000" fill-rule="evenodd"><path d="M14 2.75C7.787 2.75 2.75 7.787 2.75 14S7.787 25.25 14 25.25 25.25 20.213 25.25 14 20.213 2.75 14 2.75zM.25 14C.25 6.406 6.406.25 14 .25S27.75 6.406 27.75 14 21.594 27.75 14 27.75A13.75 13.75 0 01.25 14z"/><path d="M7.9 19.888a1.25 1.25 0 010-1.775l10.613-10.6a1.25 1.25 0 011.737 1.762L9.675 19.888a1.25 1.25 0 01-1.775 0z" fill-rule="nonzero"/><path d="M7.388 7.388a1.25 1.25 0 011.762 0l10.613 10.6a1.255 1.255 0 01-1.775 1.775L7.388 9.15a1.25 1.25 0 010-1.762z" fill-rule="nonzero"/></g></svg>
  </div>
</div>
<div class="header-wrapper">
  <a class="header-title" href="./">
    <span style="color: #0C0082;">Zachary Bowles</span> <span class="design"> &nbsp;| UX/UI Design </span>
  </a>
  <nav class="header-nav">
    <a class="nav-work" href="./work">Work</a>
    <a class="nav-resume" href="./resume">Resumé</a>
    <a class="nav-about" href="./about">About</a>
    <button onclick="window.location = 'mailto:znsbowles@gmail.com';" class="contact-me-button">
      Contact me &nbsp;&nbsp;
      <svg width="20" height="15" xmlns="http://www.w3.org/2000/svg"><path d="M10 12.203L0 3.57v11.104h20V3.57l-10 8.633zm.001-2.604L0 .959V0h20v.96l-9.999 8.639z" fill="#000" fill-rule="evenodd"/></svg>
    </button>
    </li>
    <a href="javascript:void(0);" class="hamburger-icon" onclick="navToggle()">
      <svg class="hamburger-svg" width="38" height="10" xmlns="http://www.w3.org/2000/svg">
        <g stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
          <path class="hamburger-group" d="M1 1.5h36M23 8.5h14"/>
        </g>
      </svg>
    </a>
  </nav>
</div>
