<div class="header-wrapper">
  <a class="header-title" href="./">
    <p>Zach Bowles | UX Design</p>
  </a>
  <nav class="header-nav">
    <ul>
      <li><a href="./work">Work</a></li>
      <li><a href="./">Resumé</a></li>
      <li><a href="./">Contact</a></li>
      <li><a href="mailto:znsbowles@gmail.com" class="fas fa-paper-plane header-mail"></a></li>
      <li><a href="https://www.linkedin.com/in/zachary-bowles-769291163/" class="fab fa-linkedin header-linkedin"></a></li>
    </ul>
  </nav>
</div>
