{% extends 'base.html' %}
{% block main %}
<div class="about-container grid">
  <div class="about-carousel">
      <div class="about-css-carousel">
          <!-- carousel slides -->
          <div class="about-carousel-slides">
              <div class="about-carousel-inner">
                <div class="about-carousel-item">
                  <div class="about-carousel-image first-image"></div>
                </div>
                <div class="about-carousel-item">
                  <div class="about-carousel-image second-image"></div>
                </div>
                <div class="about-carousel-item">
                  <div class="about-carousel-image third-image"></div>
                </div>
                <div class="about-carousel-item">
                  <div class="about-carousel-image fourth-image"></div>
                </div>
                <div class="about-carousel-item">
                  <div class="about-carousel-image fifth-image"></div>
                </div>
                <div class="about-carousel-item">
                  <div class="about-carousel-image sixth-image"></div>
                </div>
                <div class="about-carousel-item">
                  <div class="about-carousel-image seventh-image"></div>
                </div>
                <div class="about-carousel-item">
                  <div class="about-carousel-image eighth-image"></div>
                </div>
              </div>
          </div>
          <!-- carousel controls -->
          <input type="radio" name="about-carousel" id="about-carousel-1" checked />
          <input type="radio" name="about-carousel" id="about-carousel-2" />
          <input type="radio" name="about-carousel" id="about-carousel-3" />  
          <input type="radio" name="about-carousel" id="about-carousel-4" />  
          <input type="radio" name="about-carousel" id="about-carousel-5" />  
          <input type="radio" name="about-carousel" id="about-carousel-6" />  
          <input type="radio" name="about-carousel" id="about-carousel-7" />  
          <input type="radio" name="about-carousel" id="about-carousel-8" />  
          <!-- carousel navigation -->
          <div class="about-carousel-nav">
              <label for="about-carousel-1"></label>
              <label for="about-carousel-2"></label>
              <label for="about-carousel-3"></label>
              <label for="about-carousel-4"></label>
              <label for="about-carousel-5"></label>
              <label for="about-carousel-6"></label>
              <label for="about-carousel-7"></label>
              <label for="about-carousel-8"></label>
          </div>
          </div>
      </div>
  <div class="about-title">
      <h1>Hi, I'm Zach!</h1>
      <p>(and these are my dogs :))</p>
  </div>
  <div class="about-para">
    <p>
      I am a Portland based digital product designer and strategist. I have an educational
      background in history and extensive career experience in a SaaS Start-Up. I offer a
      lot of experience in small business strategy, marketing, sales, customer support and
      everything in between. Strategizing how to utilize an extremely finite amount of
      resources to maximize a small company’s potential has been a large part of my young
      career. Now, I am looking forward to applying the same principles to designing digital
      experiences.<br><br>
      In my free time, I enjoy playing with my dogs, snowboarding, staying active, reading,
      and working on personal projects.
    </p>
  </div>
  <div class="about-LA">
    <p>
      I was born and raised in Los Angeles, but I moved to the Pacific North West to attend
      Reed College.
    </p>
  </div>
  <div class="about-LA-image">
    <img src="../static/images/scooter.png">
  </div>
  <div class="about-reed-image">
    <img src="../static/images/reading.png">
  </div>
  <div class="about-reed">
    <p>
      At Reed I got my B.A in History, after I completed a year-long independent project on
      the history of America’s Federal Narcotics laws and their use as tools to subjugate
      minority communities in the United States.
    </p>
  </div>
  <div class="about-after-reed">
    <p>
      After graduation, I was hired as the second employee at a local SaaS start-up. Being
      such a small company, I had the unique opportunity to take on many roles, but I quickly
      discovered a passion for UX/UI strategy and design. Now, I am working hard to expand my
      knowledge and concept creative solutions that are useful to everyone. 
    </p>
  </div>
  <div class="about-after-reed-image">
    <img src="../static/images/data.png">
  </div>
  <div class="about-articles">
    <h1>Articles</h1>
  </div>
  <div class="about-code-of-ethics">
    <a href="./code-of-ethics"><img src="../static/images/code_of_ethics.png"></a>
  </div>
</div>

{% endblock %}
