{% extends 'base.html' %}
{% block main %}
<div class="about-container grid">
  <div class="profile-photo">
    <div class="circle-container">
    </div>
  </div>
  <div class="about-title">
      <h1>Hi, I'm Zach!</h1>
  </div>
  <div class="about-para">
    <p>
        I am a Portland based Digital Product Designer and Strategist. I offer experience in UX/UI design, 
        small business strategy, marketing, sales, and customer support. Concepting how to utilize finite 
        temporal and financial resources to maximize a small company’s potential has been a large part of 
        my young career. Now, I am looking forward to applying the same principles to designing digital experiences.<br><br>
      
        In my personal time, I enjoy playing with my dogs, snowboarding, reading, and working on personal projects. 
        I am a history buff with an insatiable curiosity that keeps me endlessly busy.
    </p>
  </div>
  <div class="about-LA">
    <p>
      I was born and raised in Los Angeles. In 2015, I moved to the Pacific North West to attend
      <a href="https://www.reed.edu/about_reed/" target="_blank"></a>Reed College.</a>
    </p>
  </div>
  <div class="about-LA-image">
    <img src="../static/images/scooter.png" alt="Illustration of man on scooter with trees in the background.">
  </div>
  <div class="about-reed-image">
    <img src="../static/images/reading.png" alt="illustration of man reading book.">
  </div>
  <div class="about-reed">
    <p>
      I received my B.A. in History from Reed in 2018, after I completed a year-long independent project on
      the history of America’s Federal Narcotics laws. 
    </p>
  </div>
  <div class="about-after-reed">
    <p>
      That subsequent fall, I was hired as the second employee at a local SaaS start-up. Being
      such a small company, I had the unique opportunity to take on many roles, but I quickly
      discovered a passion for UX/UI strategy and design. Now, I am working hard to expand my
      knowledge and concept creative solutions that are useful to everyone. 
    </p>
  </div>
  <div class="about-after-reed-image">
    <img src="../static/images/data.png" alt="Illustration of man sitting in front of pie chart and data sheet.">
  </div>
  <div class="about-articles">
    <h1>Articles</h1>
  </div>
  <div class="about-code-of-ethics">
    <a href="./code-of-ethics"><img src="../static/images/code_of_ethics.png"></a>
  </div>
</div>

{% endblock %}
