<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ZachBowles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    {% assets "scss_all" %}
      <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/main.css') }}">
    {% endassets %}    
  </head>

  <body class="page">
    {% include "/partials/header.html" with context %}
    {% block main %}
      {{words}}
    {% endblock %}
    {% include "/partials/footer.html" with context %}

  </body>
</html>
