<!doctype html>
<html lang="en">
  <head>
    <title>ZachBowles</title>
    <meta charset="utf-8">
    <meta name="description" content="Zachary Bowles', Portland, OR based  UI/UX designer and strategist, portfolio website.">
    <meta name="keywords" content="Zach Bowles, user experience, UX, user interface, UI, Portland, Oregon, Designer, Strategist, InkEnvy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    {% assets "scss_all" %}
      <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/main.css') }}">
    {% endassets %}  
    <!-- download this and put it in assets in the future-->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../static/images/cuca.png"/>
  </head>

  <body class="page">
    <div class="main-container">
      {% if name != 'construction' %}
         {% include "/partials/header.html" with context %}
      {% endif %}
      {% block main %}
        {{name}}
      {% endblock %}
    </div>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>
