{% extends 'base.html' %}
{% block main %}
<div class="ethics-container grid">
  <div class="ethics-title">
    <img src="../static/images/ethics_hero.png">
    <h1>My Code of Ethics</h1>
  </div>
  <div class="ethics-accessibility">
    <h2>1. Accessibility</h2>
    <p>
      As a designer, I will do my best to make sure that all of my designs are available
      and accessible to all users, even if that comes at a cost to my own designs. If I
      have to choose between a more polished design or a more accessible design, I will
      always choose the accessible option.
    </p>
  </div>
  <div class="ethics-accessibility-image">
    <img src="../static/images/ethics_accessibility.png">
  </div>
  <div class="ethics-projects-image">
    <img src="../static/images/ethics_projects.png">
  </div>
  <div class="ethics-projects">
    <h2>2. Picking Ethical Projects</h2>
    <p>
      As a designer, I reserve the right to decline any projects that I believe contradict
      my moral or ethical codes. I will not work on projects that I believe will have an
      obvious negative impact on my community or the greater world.<br><br>
      I will not work on projects that are insidiously habit forming, environmentally
      damaging, or predatory against vulnerable users. 
    </p>
  </div>
  <div class="ethics-limits">
    <h2>3. Accepting My Limitations</h2>
    <p>
      As a human and a designer, I believe it is important to remember that my experience is
      limited to my point of view. There are thousands of unique perspectives out in the
      world and it is important to keep this at the forefront of my mind as I design and
      create solutions.
    </p>
  </div>
  <div class="ethics-limits-image">
    <img src="../static/images/ethics_limits.png">
  </div>
  <div class="ethics-design-image">
    <img src="../static/images/ethics_good.png">
  </div>
  <div class="ethics-design">
    <h2>4. Designing for Good</h2>
    <p>
      As a human, I know that I am flawed and incapable of predicting every possible outcome.
      I will do my best to make sure my designs are not evil, but if I accidentally create
      a design that has negative consequences on other people’s lives, I will listen and learn
      from my mistakes. I will apologize and correct the behavior as best I can, but I will do
      so with the understanding that these unintended consequences were not intentional. 
    </p>
  </div>
  <div class="ethics-data">
    <h2>5. Protecting Data</h2>
    <p>
      As a designer, I will always work hard to safeguard my user’s data and I will always be
      honest and upfront about when and how it is being used. I will never sell a user’s data
      or give it away without their explicit consent.
    </p>
  </div>
  <div class="ethics-data-image">
    <img src="../static/images/ethics_data.png">
  </div>
  <div class="ethics-criticism-image">
    <img src="../static/images/ethics_criticism.png">
  </div>
  <div class="ethics-criticism">
    <h2>6. Respectful Criticism</h2>
    <p>
      When critiquing other designers work, I will always be respectful of the person and the
      effort that they put into their projects. I will not be intentionally cruel and I will
      always include an explanation to back up any critique I make.<br><br>
      When being critiqued, I will not take criticisms personally and I will listen to others’
      ideas on how I can improve my work. 
    </p>
  </div>
</div>

{% endblock %}
