{% extends 'base.html' %}
{% block main %}
<div class="ethics-container grid">
  <div class="ethics-title">
    <img src="../static/images/ethics_hero.png" alt="Illustration of couple holding hands in park.">
    <h1>My Code of Ethics</h1>
  </div>
  <div class="ethics-accessibility">
    <h2>1. Accessibility</h2>
    <p>
        As a designer, I will do my best to make sure that all of my designs are available and accessible to all users.
    </p>
  </div>
  <div class="ethics-accessibility-image">
    <img src="../static/images/ethics_accessibility.png" alt="Illustration of woman standing next to globe with location pins.">
  </div>
  <div class="ethics-projects-image">
    <img src="../static/images/ethics_projects.png" alt="Illustration of man looking at two boards. One is blue and the other is white.">
  </div>
  <div class="ethics-projects">
    <h2>2. Picking Ethical Projects</h2>
    <p>
        As a designer, I reserve the right to decline any projects that I believe contradict my moral or ethical codes. 
    </p>
  </div>
  <div class="ethics-limits">
    <h2>3. Accepting My Limitations</h2>
    <p>
        As a human and a designer, I believe it is important to remember that my experience is limited to my point of view. 
        There are thousands of unique perspectives and it is important to keep an open mind and seek out  varying viewpoints
         throughout the design process.
    </p>
  </div>
  <div class="ethics-limits-image">
    <img src="../static/images/ethics_limits.png" alt="Illustration of man sitting in front of large Iphone X">
  </div>
  <div class="ethics-data">
      <h2>4. Protecting Data</h2>
      <p>
          As a designer, I will always work hard to safeguard my user’s data.  
          Moreover, I will always be honest and upfront about when and how data is being used.

      </p>
    </div>
    <div class="ethics-data-image">
      <img src="../static/images/ethics_data.png" alt="Illustration of security guard in suit standing in front of a locked screen.">
    </div>
    <div class="ethics-criticism-image">
      <img src="../static/images/ethics_criticism.png" alt="Illustration of man and woman working together and pointing to post-it notes.">
    </div>
    <div class="ethics-criticism">
      <h2>5. Respectful Criticism</h2>
      <p>
        When my work is critiqued, I will not take criticisms personally and I will always listen to others’
        ideas on how I can improve. <br><br>
        When critiquing other designers work, I will always be respectful of the person and the
        effort that they put into their projects. I will not be intentionally cruel and I will
        always include an explanation to back up any critique I make.
      </p>
    </div>  
</div>

{% endblock %}
