{% extends 'base.html' %}
{% block main %}
  <div class="home-container grid">
    <div class="papers">
      <h1 class="hello">welcome</h1>
      <div class="toggle-container">
          <input class="checkbox" id="checkbox1" type="checkbox"/>
          <label for="checkbox1" class="checkbox-label" onclick="lightToggle()">
            <span class="off">ON</span>
            <span class="on">OFF</span>
          </label>
        </div>
        <div class="homepage-text">
            Hi, I’m <span style="color: #FEFE00; font-weight: 900">Zach!</span> I’m a 
            <span style="color: #FEFE00; font-weight: 900">Portland Based Digital Product Designer </span> and
            <span style="color: #FEFE00; font-weight: 900">Strategist. </span>
            <br><br>
            I’m passionate about developing <span style="color: #FEFE00; font-weight: 900">impactful products</span>
            that are creative yet <span style="color: #FEFE00; font-weight: 900">universally accessible</span>. 
            My intrinsic curiosity and <span style="color: #FEFE00; font-weight: 900">detail-oriented
            </span> nature drive me to find <span style="color: #FEFE00; font-weight: 900"> elegant solutions
            </span> to product design challenges.
            <a href="./work"><button class="view-my-work-button">
              <p class="button-text">View my work &nbsp&nbsp&nbsp&nbsp</p>
              <img class="arrow" src="../static/images/Icon/arrow_with_circle.png">
            </button></a>
        </div>
    </div>
  </div>
{% endblock %}
