{% extends 'base.html' %}
{% block main %}
  <div class="homepage-container">
    <div class="paper-1 paper"></div>
    <div class="paper-2 paper"></div>
    <div class="paper-3 paper"></div>
    <div class="paper-4 paper"></div>
    <div class="homepage-text">
      Hey I'm Zach, a UX Designer based in Portland, OR. I work to create beautiful and useful designs that simplify and improve real peoples' lives.
      <ul>
          <li class="box-1"></li>
          <li class="box-2"></li>
          <li class="box-3"></li>
          <li class="box-4"></li>
      </ul>
    </div>
  </div>
{% endblock %}
