{% extends 'base.html' %}
{% block main %}

<div class="ink-envy-container grid">
    <div class="hero-container">
        <div class="hero-image-container">
            <img class="hero-image" src="../static/images/ink_envy_hero_image.png">
        </div>
        <div class="hero-title">
            <h1>Ink Envy</h1>
        </div>
        <a href="https://projects.invisionapp.com/prototype/ink-envy-prototype-ck23wfxex001tmb0155h8fnpf/play/18fb63de" target="_blank"  class="proto-button">View Prototype</a>
    </div>
    <div class="mobile-note">
        <p>
            Note: This case study has been modified from its original version to improve it’s performance on mobile.
            To view the original case study, please use a desktop or tablet.
        </p>
    </div>
  <div class="ink-envy-title">
      <h1>Overview</h1>
  </div>
    <div class="project-brief">
        <h2>Project Brief</h2>
        <p>Ink Envy is an app I designed to help tattoo enthusiasts find inspiration for their next tattoo, 
            but after conducting extensive research and interviewing a sample of my user demographic, the 
            app expanded to include many features around traveling for both customers and artists.

            Using Ink Envy, tattoo enthusiasts can stay up to date with their favorite artists’ work, 
            book appointments, save photos for later inspiration, and opt in for notifications about traveling tattoo artists.</p>
    </div>
    <div class="my-role">
        <h2>My role</h2>
        <p>Ink Envy was an entirely independent project. I was responsible for everything from researching
            the competitive market, to designing the finished user interface. I conducted research,
            strategized effective solutions, designed the the interface, and conducted user testing with
            my target audience at multiple stages.<br><br></p>
        <h2>Timeline and Tools</h2>
        <p>July - October 2019<br>
           Paper-pencil, Sketch, Invision</p>
    </div>
    <div class="the-challenge">
        <h2>The Challenge</h2>
        <p>Tattoos are incredibly popular - 36% of 18-25 year olds and 40% of 36-40 year old have tattoos.
           It is a 1.65 billion dollar business in America. The challenge was to create an app that helps
           users explore inspiration for tattoos, connect with artists, and reduce regret.</p>
        <p class="footnote">All statistics can be found here:
           https://www.statisticbrain.com/tattoo-statistics/</p>
    </div>
    <div class="feats-for-users">
        <h2>Features for Users<br><br></h2>
        <ul class="feats-for-users-list">
          <li>Follow Users</li>
          <li>Book Appointments</li>
          <li>Save Photos</li>
          <li>Massage Artists</li>
          <li>Read Reviews</li>
          <li>Connect with Traveling Artists</li>
         </ul>
    </div>
    <div class="feats-for-users-image">
        <img src="../static/images/feats_for_users.png">
    </div>
    <div class="feats-for-artists-image">
        <img src="../static/images/feats_for_artists.png">
    </div>
    <div class="feats-for-artists">
        <h2>Features for Users<br><br></h2>
        <ul class="feats-for-artists-list">
            <li>Book More Appointments</li>
            <li>Set a travel schedule and get appointments before you leave!</li>
            <li>Reach more customers</li>
            <li>Integrate with Instagram and publish photos on both platforms in one place</li>
            <li>Get certified reviews and enhance your trust with customers around the world</li>
            </ul>
    </div>
    <div class="the-approach">
        <h2>Approach</h2>
        <p>Ink Envy was designed with a user-centric mobile first approach, based on heuristic
            research, validated assumptions and repeated user testing.</p>
    </div>
    <div class="approach-diagram">
        <img src="../static/images/approach_diagram.png">
        <a class="skip-link" href="#finished-product"><h2> To skip to the final product, please click here.</h2></a>
    </div>
    

    <div class="competitive-research">
        <h1>Competitive Research</h1>
    </div>
    <div class="introduction">
        <h2>Introduction</h2>
        <p>To begin the project, I began conducting extensive research into the existing
            market of Tattoo related apps. During this research I discovered two important
            direct competitors - InkHunter and Tattoodo.  I then began to analyze their
            apps and marketing strategies in order to strategize ways my app could secure a
            place in the market.</p>
    </div>
    <div class="top-competitors">
        <h2>InkHunter</h2>
            <p>A powerful augmented reality app that allows users to use their phone’s camera to
            test tattoo ideas in real time.<br><br>
            While the AR portion of InkHunter works very well and is simple to learn, the app is
            missing some major features that can cause friction in the user experience.<br><br>
            For example, the app advertises that users can “follow” artists, but the follow button
            just redirects users to the artists Instagram page. Even worse, the app allows users to
            continue as guests, but does not allow them to create accounts in app. Meaning, if you
            skip the create account section, you cannot go back and create an account unless you
            delete and re-download the app.<br><br>
        </p>
    </div>
    <div class="top-competitors-image">
        <img src="../static/images/ink_hunter.png">
        <div class="bottom-images">
            <img src="../static/images/ink_hunter_dashboard.png">
            <img src="../static/images/ink_hunter_differentiation.png">
        </div>
    </div>

    <div class="tattoodo-image">
        <img src="../static/images/tattoodo.png">
        <div class="bottom-images">
            <img src="../static/images/tattoodo_dashboard.png">
            <img src="../static/images/tattoodo_differentiation.png">
        </div>
    </div>
    <div class="tattoodo">
        <h2>Tattoodo</h2>
         <p>A large desktop and mobile platform that helps tattoo artists display their work and
            connect with customers. Over 300,000 artists have signed up to display their work on
            Tattoodo and they have raised over $15 million in funding since 2013.<br><br>
            Tattoodo’s strengths lie in it’s booking platform. It is the only Tattoo focused app
            that allows users to connect with real tattoo artists in the app and book appointments
            directly with them.<br><br>
            However, the app has some significant usability problems. For one, the “profile” page’s
            purpose seems unclear and overlaps with the “Saved photos” page. The app also does not
            allow users to search by location and style at the same time, which can cause friction
            with the user experience.<br><br>
            Finally, the overall aesthetic of the app feels antiquated and uninspiring, which means
            the app could be surmounted by an app with a more friendly user experience and a more
            aesthetically pleasing User Interface.<br><br>
        </p>
    </div>
    
    <div class="user-research">
        <h1>User Research</h1>
    </div>
    <div class="user-research-summary">
        <h2>Summary</h2>
        <p>Once I had completed my market study, I began researching my target audience by interviewing people
            in my netwok with tattoos or an interest in getting tattoos. This gave me further insights into
            their knowledge of existing apps, their needs, their goals, and their frustrations.  I then began
            to analyze the data by creating an affinity map, three user personas, and two user journeys. Two
            user personas represented Customers or Users and One user Persona represented an Artist as I thought
            it was important to understand both perspectives.</p>
    </div>
    <div class="user-research-image">
        <img src="../static/images/user_research.png" alt="White board with post-it notes organized into 4 categories.">
    </div>
    <div class="wireframes-and-proto">
        <h1>Wireframes and Prototyping</h1>
    </div>
    <div class="wireframes-and-proto-intro">
        <h2>Introduction</h2>
        <p>After a long research process, it was time to begin planning out my app. I started by designing and
            curating a card sorting exercise with a sample of my target audience. Then, I began sketching low fidelity
            wireframes using a notebook and a pen, and finally, I turned those hand drawings into high fidelity
            wireframes using Sketch.</p>
    </div>
    <div class="wireframes-and-proto-images">
        <img src="../static/images/first_sketches_2.png" alt="Notebook with 8 user interface sketches for Ink Envy.">
        <img src="../static/images/first_sketches_1.png" alt="Sketch of Ink Envy home page">
    </div>
    <div class="first-wireframes">
        <h2>High Fidelity Wireframes</h2>
    </div>
    <div class="first-wireframes-images">
        <div class="wireframe-container">
            <div class="wireframe-css-carousel">
                <!-- carousel controls -->
                <input type="radio" name="wireframe-carousel" id="wireframe-carousel-1" checked />
                <input type="radio" name="wireframe-carousel" id="wireframe-carousel-2" />
                <input type="radio" name="wireframe-carousel" id="wireframe-carousel-3" />
                <input type="radio" name="wireframe-carousel" id="wireframe-carousel-4" />
                <input type="radio" name="wireframe-carousel" id="wireframe-carousel-5" />
                <input type="radio" name="wireframe-carousel" id="wireframe-carousel-6" />

                <!-- wireframe-carousel slides -->
                <div class="wireframe-carousel-slides">
                    <div class="wireframe-carousel-inner">
                        <div class="wireframe-carousel-item">
                            <div class="wireframe-carousel-image">
                                <img src="../static/images/first_wireframe_feed.png">
                            </div>
                        </div>
                        <div class="wireframe-carousel-item">
                            <div class="wireframe-carousel-image">
                                <img src="../static/images/first_wireframe_explore.png">
                            </div>
                        </div>
                        <div class="wireframe-carousel-item">
                            <div class="wireframe-carousel-image">
                                <img src="../static/images/first_wireframe_appt.png">
                            </div>
                        </div>
                        <div class="wireframe-carousel-item">
                            <div class="wireframe-carousel-image">
                                <img src="../static/images/first_wireframe_artist.png">
                            </div>
                        </div>
                        <div class="wireframe-carousel-item">
                            <div class="wireframe-carousel-image">
                                <img src="../static/images/first_wireframe_review.png">
                            </div>
                        </div>
                        <div class="wireframe-carousel-item">
                            <div class="wireframe-carousel-image">
                                <img src="../static/images/first_wireframe_notifications.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- wireframe-carousel navigation -->
                <div class="wireframe-carousel-nav">
                    <label class="label-always" for="wireframe-carousel-1"></label>
                    <label class="label-always" for="wireframe-carousel-2"></label>
                    <label class="label-small" for="wireframe-carousel-3"></label>
                    <label class="label-small" for="wireframe-carousel-4"></label>
                    <label class="label-small" for="wireframe-carousel-5"></label>
                    <label class="label-small" for="wireframe-carousel-6"></label>
                </div>
            </div>
        </div>  
    </div>
    <div class="a-b-testing">
        <h1>Usability and A/B Testing</h1>
    </div>
    <div class="a-b-testing-intro">
        <h2>Introduction</h2>
        <p>Once I had finished creating a high fidelity prototype, I began designing a usability test to see how
            easily real people within my target audience could complete specific tasks within the app. All of the
            tests took place in person and lasted between 10-20 minutes.<br><br>
            I also ran an A/B preference test with 20 volunteers to see if users preferred a dark
            or light theme with 20 volunteers. 
        </p>
    </div>
    <div class="a-b-testing-intro-image">
        <img src="../static/images/a_b_testing.png" alt="white board with post-it notes organized into 4 categories: Observations, Positive quotes, Negative quotes, Errors.">
    </div>
    <div class="a-b-testing-script">
        <h2>Script</h2>
        <p>For a detailed look at the Test Script, including a list of all tasks tested, feel free to explore
            the complete script <a href="https://docs.google.com/document/d/1BClmRCNckz8V983yxTzl36P9u3IKpySTWaUYlL3jD_o/edit?usp=sharing" target="_blank">here.</a></p>
    </div>
    <div class="a-b-testing-methodology">
        <h2>Methodology</h2>
        <p>All 6 tests were taken in person, on my personal computer, with an offline version of my app. All tests were
            recorded using Cloud.io screen recording software.</p>
    </div>
    <div class="a-b-testing-results">
        <h2>Results</h2>
        <p>After conducting 6 usability tests and 1 A/B preference test, I have found 2 high priority usability issues
            with my design,  2 medium priority issues, and 1 low priority issue. Moreover, I have found that users are
            equally in favor of a dark or light theme. While the light theme allows the colors and pictures to “pop”
            more, the dark theme is easier on the eyes and makes the app stand out more. Ideally, I would like to build
            both themes and allow users to switch back and forth, but for now, I will proceed with the dark theme. </p>
    </div>

    <div class="redefining-design">
        <h1>Refining the Design</h1>
    </div>
    <div class="redefining-design-intro">
        <p>Once I had finished conducting my usability tests, organizing the data, and ranking the errors by their level of
            severity, I began to refine the final designs for Ink Envy. This involved making significant changes to the
            Artist’s profile pages, changing icons, and adjusting the the contrast on some buttons to increase the
            accessibility of the app.</p>
    </div>
    <div class="change-1-image">
        <img src="../static/images/change_1_before.png" alt="InkEnvy homepage. Background is dark grey, icons are blury, text is white.">
        <img src="../static/images/change_1_after.png" alt="Improved InkEnvy homepage. Background is black, icons are sharp, book appointment button is clear, names are teal and location text is white.">
    </div>
    <div class="change-1">
        <h2>Change #1</h2>
        <ul class="change-1-list">
            <li>I changed the booking icon to a button to emphasize it as a CTA.</li>
            <li>I changed the messaging icon to make it more intuitive.</li>
            <li>I split the name and the location of the artist into two lines to make it easier to differentiate between the two pieces of information.</li>
            <li>I changed all of my navigation icons to more pixel perfect versions.</li>
            <li>I enhanced the size of the text of the tags to make them more accessible.</li>
        </ul>
    </div>
    <div class="change-2">
        <h2>Change #2</h2>
        <ul class="change-2-list">
            <li>I changed the title of the screen to “Appointments”.</li>
            <li>I added a message button to the booking card to make it easier to contact artists from your bookings page.</li>
            <li>I increased the size of the copy on the bookings card to make it more accessible.</li>
            <li>I changed the suggested artists menu to a Past Appointments menu. Despite not having evidince for this, I theorized that users with existing appointments would not want to be pressured into booking more appointments.</li>
            <li>I made the past appointments a revolving carousel because it is more aesthetically pleasing.</li>
        </ul>
    </div>
    <div class="change-2-image">
            <img src="../static/images/change_2_before.png" alt="Appointments screen. Page is dull and hard to read. There is no clear call to action.">
            <img src="../static/images/change_2_after.png" alt="Improved appointments screen. Page is vibrant and clear. Has a clear button for users to message the artist.">
    </div>

    <div class="change-3-image">
            <img src="../static/images/change_3_before.png" alt="Artist profile page. Features 6 images of the artist's recent work.">
            <img src="../static/images/change_3_after.png" alt="Improved artist profile page. Has tags, and 3 buttons for users to complete different tasks including: Follow, Book appointment, and Message.">
    </div>
    <div class="change-3">
        <h2>Change #3</h2>
        <ul class="change-3-list">
            <li>I added 3 new buttons, including a new Book Appointment CTA.</li>
            <li>I added tags that help identify an artist’s specialties and allow users to explore similar artists more easily.</li>
            <li>I added an outline for the star and dollar ratings to give users more context. This way, the ratings would have tangible meaning for the users.</li>
        </ul>
    </div>
    <div id=finished-product class="finished-product">
        <h1>Finished Product</h1>
    </div>
    <div class="finished-product-images">
        <div class="cards">
            <div class="card image-1">
            </div>
            <div class="card image-2">
            </div>
            <div class="card image-3">
            </div>
            <div class="card image-4">
            </div>
            <div class="card image-5">
            </div>
        </div>
        <div class="proto-container">
            <div class="proto-css-carousel">
                <!-- carousel controls -->
                <input type="radio" name="proto-carousel" id="proto-carousel-1" checked />
                <input type="radio" name="proto-carousel" id="proto-carousel-2" />
                <input type="radio" name="proto-carousel" id="proto-carousel-3" />
                <input type="radio" name="proto-carousel" id="proto-carousel-4" />
                <input type="radio" name="proto-carousel" id="proto-carousel-5" />
                <!-- proto-carousel slides -->
                <div class="proto-carousel-slides">
                    <div class="proto-carousel-inner">
                        <div class="proto-carousel-item">
                            <div class="proto-carousel-image">
                                <img src="../static/images/final_appt_screen.png" alt="Screenshot of InkEnvy Appointments page. Shows 1 appointment and a carousel of past appointments.">
                            </div>
                        </div>
                        <div class="proto-carousel-item">
                            <div class="proto-carousel-image">
                                <img src="../static/images/final_explore_screen.png" alt="Screenshot of InkEnvy Exlpore page. Top screen shows tattoo categories, main content displays Suggested Portland Artists, bottom shows Trending Artists.">
                            </div>
                        </div>
                        <div class="proto-carousel-item">
                            <div class="proto-carousel-image">
                                <img src="../static/images/final_home_screen.png" alt="Screenshot of InkEnvy newsfeed page. Shows 1 post with a heart icon, book appointment button, and message icon. Below post are tags and the top of post below. ">
                            </div>
                        </div>
                        <div class="proto-carousel-item">
                            <div class="proto-carousel-image">
                                <img src="../static/images/final_artist_screen.png" alt="Screenshot of InkEnvy artist profile page. Shows artist's recent work, their prices, and reviews.">
                            </div>
                        </div>
                        <div class="proto-carousel-item">
                            <div class="proto-carousel-image">
                                <img src="../static/images/final_profile_screen.png" alt="Screenshot of InkEnvy User Profile page. Shows photos the user has liked. ">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- proto-carousel navigation -->
                <div class="proto-carousel-nav">
                    <label for="proto-carousel-1"></label>
                    <label for="proto-carousel-2"></label>
                    <label for="proto-carousel-3"></label>
                    <label for="proto-carousel-4"></label>
                    <label for="proto-carousel-5"></label>
                </div>
            </div>
        </div> 
        <a href="https://projects.invisionapp.com/prototype/ink-envy-prototype-ck23wfxex001tmb0155h8fnpf/play/18fb63de" target="_blank"  class="proto-button">View Prototype</a>
    </div>
</div>
{% endblock %}
