{% extends 'base.html' %}
{% block main %}

<div class="ink-envy-container grid">
    <div class="hero-container">
        <div class="hero-image-container">
            <img class="hero-image" src="../static/images/ink_envy_hero_image.png">
        </div>
        <div class="hero-title">
            <h1>Ink Envy</h1>
        </div>
        <a href="" class="proto-button">View Prototype</a>
    </div>
  <div class="ink-envy-title">
      <h1>Overview</h1>
  </div>
    <div class="project-brief">
        <h2>Project Brief</h2>
        <p>Ink Envy was the second app I created as a part of the Career Foundry UX Immersion course.
        The initial idea was to help tattoo enthusiasts find inspiration for their next tattoo, but
        after conducting extensive research and interviewing a sample of my user demographic, the app
        expanded to include many features around traveling for both customers and artists.<br><br>
        Using Ink Envy, tattoo enthusiasts can stay up to date with their favorite artists’ work,
        book appointments, save photos for later inspiration, and opt in for notifications about
        traveling tattoo artists.</p>
    </div>
    <div class="my-role">
        <h2>My role</h2>
        <p>Ink Envy was an entirely independent project. I was responsible for everything from researching
            the competitive market, to designing the finished user interface. I conducted research,
            strategized effective solutions, designed the the interface, and conducted user testing with
            my target audience at multiple stages.<br><br></p>
        <h2>Timeline and Tools</h2>
        <p>July - October 2019<br>
           Paper-pencil, Sketch, Invision</p>
    </div>
    <div class="the-challenge">
        <h1>The Challenge</h1>
        <p>Tattoos are incredibly popular - 36% of 18-25 year olds and 40% of 36-40 year old have tattoos.
           It is a 1.65 billion dollar business in America. The challenge was to create an app that helps
           users explore inspiration for tattoos, connect with artists, and reduce regret.</p>
        <p class="footnote">All statistics can be found here:
           https://www.statisticbrain.com/tattoo-statistics/</p>
    </div>
    <div class="feats-for-users">
        <h1>Features for Users<br><br></h1>
        <ul class="feats-for-users-list">
          <li>Follow Users</li>
          <li>Book Appointments</li>
          <li>Save Photos</li>
          <li>Massage Artists</li>
          <li>Read Reviews</li>
          <li>Connect with Traveling Artists</li>
         </ul>
    </div>
    <div class="feats-for-users-image">
        <img src="../static/images/feats_for_users.png">
    </div>
    <div class="feats-for-artists-image">
        <img src="../static/images/feats_for_artists.png">
    </div>
    <div class="feats-for-artists">
        <h1>Features for Users<br><br></h1>
        <ul class="feats-for-users-list">
            <li>Book More Appointments</li>
            <li>Set a travel schedule and get appointments before you leave!</li>
            <li>Reach more customers</li>
            <li>Integrate with Instagram and publish photos on both platforms in one place</li>
            <li>Get certified reviews and enhance your trust with customers around the world</li>
            </ul>
    </div>
    <div class="the-approach">
        <h1>The Approach</h1>
        <p>Ink Envy was designed with a user-centric mobile first approach, based on heuristic
            research, validated assumptions and repeated user testing.</p>
    </div>
    <div class="approach-diagram">
        <img src="../static/images/approach_diagram.png">
    </div>

    <div class="understanding-the-problem">
        <h1>Understanding the Problem</h1>
    </div>
    <div class="the-problem">
        <h2>Problem Statement</h2>
        <p>People in the market for new tattoos need a reliable way to discover and connect with
            tattoo artists in their area, so they can find inspiration and schedule appointments
            with ease. We will know this to be true when we see how many users sign up to use the
            app and how many artists opt in to display their portfolios on the app.</p>
    </div>
</div>
{% endblock %}
