{% extends 'base.html' %} {% block main %}

<div class="nest-egg-container grid">
  <div class="hero-container">
    <div class="hero-image-container">
      <img class="hero-image" src="../static/images/nest-egg/splash.png" />
    </div>
    <a
      href="https://www.figma.com/proto/ylu6zSzDfsF1atnwJqA7Mp/Ink-Envy?node-id=0%3A932&viewport=331%2C-62%2C0.08001897484064102&scaling=scale-down"
      target="_blank"
      class="proto-button"
      >View Prototype</a
    >
  </div>
  <div class="nest-egg-title">
    <h1>Overview</h1>
  </div>
  <div class="nest-egg-project-brief">
    <h2>Summary</h2>
    <p>
      Nest Egg is a real estate focused responsive website that I designed to
      help real estate investors find the perfect property. The app is designed
      to help users find homes, commercial buildings, or lots all around the
      world and give them an insightful projection on the property’s current and
      future value. It is designed to help people find and grow their “nest
      egg.”
    </p>
  </div>
  <div class="my-role">
    <h2>My role</h2>
    <p>
      Nest Egg was an independent project. I was responsible for conducting
      research, strategizing the UX and designing the final UI.<br /><br />
    </p>

    <h2>Timeline and Tools</h2>
    <p>
      December 2019 - April 20202<br />
      Paper-pencil, Sketch, Adobe XD, Adobe Illustrator
    </p>
  </div>
  <div id="the-challenge" class="the-challenge">
    <h2>Project Brief</h2>
    <p>
      Real estate investment is an increasingly popular and exciting way for
      individuals to achieve financial security and diversify their portfolios.
      It is an exciting and emotional experience, but often complicated. While
      there are plenty of websites, blogs, and agencies providing information,
      often, buyers new to the market may struggle to get started without
      professional guidance and waste time viewing properties out of their
      range. The aim of this project will be to create a website that helps
      users find the perfect property in a crowded market, regardless of their
      experience level with real estate.
    </p>
  </div>
  <div class="nest-egg-approach">
    <h2>Approach</h2>
    <p>
      Nest Egg was designed with a user-centric mobile first approach, based on
      heuristic research and validated assumptions.
    </p>
  </div>
  <div class="nest-egg-approach-diagram">
    <div class="diagram">
      <div class="horizontal timeline">
        <div class="steps">
          <div class="step">
            <a href="#the-challenge" class="progress-step"
              ><p>Understanding the problem</p></a
            >
          </div>
          <div class="triangle"></div>
          <div class="step">
            <a href="#site-map-and-sketches" class="progress-step"
              ><p>Competitive research</p></a
            >
          </div>
          <div class="triangle"></div>
          <div class="step">
            <a href="#user-research" class="progress-step"
              ><p>User research</p></a
            >
          </div>
          <div class="triangle"></div>
          <div class="step">
            <a href="#wireframes-and-proto" class="progress-step"
              ><p>Wireframing and prototyping</p></a
            >
          </div>
          <div class="triangle"></div>
          <div class="step">
            <a href="#a-b-testing" class="progress-step"
              ><p>Usability testing</p></a
            >
          </div>
          <div class="triangle"></div>
          <div class="step last-step">
            <a href="#redefining-design" class="progress-step"
              ><p>Refining the design</p></a
            >
          </div>
        </div>

        <div class="line"></div>
      </div>
    </div>
  </div>

  <div id="multiple-mock-ups" class="multiple-mock-ups">
    <img src="../static/images/nest-egg/multipleMockUps.png" alt="" />
  </div>
  <div id="site-map-and-sketches" class="site-map-and-sketches">
    <h1>Site Map and Sketches</h1>

    <div class="introduction">
      <h2>Introduction</h2>
      <p>
        The project began with creating a site map and rapidly sketching
        wireframes. This process allowed me to quickly test multiple ideas and
        decide which direction I wanted to go in. The big choice here was to use
        a tab to display the high priority information on each property, which
        would allow users to quickly get an overview of a house without leaving
        the main page.
      </p>
    </div>

    <div class="nest-egg-site-map">
      <h2>Site Map</h2>
      <div class="nest-egg-site-map-image">
        <img src="../static/images/nest-egg/site-map.svg" />
      </div>
    </div>

    <div class="nest-egg-sketches">
      <div class="nest-egg-sketches-text">
        <h2>Sketches</h2>
      </div>
      <div class="nest-egg-sketches-image">
        <img src="../static/images/nest-egg/rapid-sketches.png" />
      </div>
    </div>
  </div>

  <div id="nest-egg-wireframes-and-proto" class="nest-egg-wireframes-and-proto">
    <h1>Wireframes and Prototyping</h1>
    <div class="nest-egg-wireframes-and-proto-intro">
      <h2>Introduction</h2>
      <p>
        Once I had a site map and a basic idea of the direction I wanted to take
        this project, I began creating mid and high fidelity wireframes. In this
        process, I referred back to my moodboards and decided to go with a blue
        and white design with the aim of invoking feelings of trust, elegance,
        and modernity with my user base.
      </p>
    </div>
    <div class="mid-fidelity-title">
      <h2>Mid Fidelity Wireframes</h2>
    </div>
    <div class="nest-egg-gray-wireframe-container">
      <div class="wireframe-carousel">
        <ul class="wireframe-carousel__list">
          <li class="wireframe-carousel__item" data-pos="0">1</li>
          <li class="wireframe-carousel__item" data-pos="1">2</li>
          <li class="wireframe-carousel__item" data-pos="2">3</li>
          <li class="wireframe-carousel__item" data-pos="3">4</li>
          <li class="wireframe-carousel__item" data-pos="4">5</li>
          <li class="wireframe-carousel__item" data-pos="5">6</li>
        </ul>
      </div>
    </div>

    <div class="nest-egg-high-fidelity-wireframes">
      <h2>High Fidelity Wireframes</h2>
      <div class="nest-egg-high-fidelity-images">
        <div class="nest-egg-hf-wireframe-container">
          <div class="wireframe-carousel">
            <ul class="wireframe-carousel__list">
              <li class="wireframe-carousel__item" data-pos="0">1</li>
              <li class="wireframe-carousel__item" data-pos="1">2</li>
              <li class="wireframe-carousel__item" data-pos="2">3</li>
              <li class="wireframe-carousel__item" data-pos="3">4</li>
              <li class="wireframe-carousel__item" data-pos="4">5</li>
              <li class="wireframe-carousel__item" data-pos="5">6</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="refining-design" class="refining-design">
      <div class="refining-design-intro">
        <h1>Refining the Design</h1>
        <p>
          Once I had finished with the base designs for all of my screens, I
          began to expand the designs out to meet larger break proints. During
          this process, I was able to review the pages and make new iterative
          changes that improved the aesthetics and usability of the design as a
          whole. This involved making considerable changes to the
          <span class="italics">Listing</span> page, creating a pixel perfect
          logo, increasing the size of buttons, tweaking colors, and many other
          small changes that created huge improvements in the user interface.
        </p>
      </div>
      <div class="nest-egg-change-1">
        <div class="nest-egg-change-1-text">
          <h2>Home Page Updates</h2>
          <ul class="change-1-list">
            <li>
              I added a blue outline to the price style to increase its
              readability.
            </li>
            <li>I increased the size of the buttons to improve usability.</li>
            <li>
              I used Adobe Illustrator to create custom pixel-perfect icons and
              a pixel-perfect logo.
            </li>
          </ul>
        </div>
        <div class="nest-egg-change-1-image">
          <img
            src="../static/images/nest-egg/home-before@2x.png"
            alt="InkEnvy homepage. Background is dark grey, icons are blury, text is white."
          />
          <img
            src="../static/images/nest-egg/home-after@2x.png"
            alt="Improved InkEnvy homepage. Background is black, icons are sharp, book appointment button is clear, 
            names are teal and location text is white."
          />
        </div>
      </div>
      <div class="nest-egg-change-2">
        <div class="nest-egg-change-2-text">
          <h2>Listing Page Changes</h2>
          <ul class="change-2-list">
            <li>
              I broke up the page to use a table of contents, rather than asking
              users to scroll to the end of the page. This will help users
              navigate to the sections they want more easily and quickly.
            </li>
            <li>
              The new page design allows the CTA's to remain ever-present on the
              page, which will increase the likelihood users complete the tasks.
            </li>
            <li>
              I changed the photo carousel so that it is easier for users to see
              where they are in the slideshow.
            </li>
            <li>
              I increased the white space between the photos and the information
              to make the page look less busy and more refined.
            </li>
          </ul>
        </div>
        <div class="nest-egg-change-2-image">
          <img
            src="../static/images/nest-egg/listing-hf@2x.png"
            alt="Appointments screen. Page is dull and hard to read. There is no clear call to action."
          />
          <img
            src="../static/images/nest-egg/listing-final@2x.png"
            alt="Improved appointments screen. Page is vibrant and clear. Has a clear button for users to message the artist."
          />
        </div>
      </div>
    </div>
    <div class="nest-egg-final-screens" id="nest-egg-final-screens">
      <h1>Final Designs for All Breakpoints</h1>
      <div class="nest-egg-desktop-home" id="nest-egg-desktop-home">
        <img src="../static/images/nest-egg/splash.png" />
      </div>
    </div>
  </div>

  {% endblock %}
</div>
