{% extends 'base.html' %}
{% block main %}
<div class="resume-container grid">
  <div class="download-block">
    <button class="download-button">
        <h4 class="button-text">Download &nbsp&nbsp&nbsp&nbsp</h4>
        <svg width="29" height="28" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="#000"><path d="M14.535 27.696H4.217a3.913 3.913 0 01-3.326-1.748 3.77 3.77 0 01-.678-2.165v-7.826a1.226 1.226 0 01.77-1.227 1.226 1.226 0 011.408.21c.284.255.441.622.43 1.003v7.748c-.01.418.178.815.51 1.07.215.17.482.262.756.26h20.791a1.304 1.304 0 001.396-1.408v-7.656a1.304 1.304 0 011.643-1.305 1.304 1.304 0 01.953 1.33v7.683a3.913 3.913 0 01-3.913 3.913l-10.422.118z"/><path d="M13.53 18.422V1.726a1.5 1.5 0 01.17-.783 1.304 1.304 0 012.44.666v16.813l.195-.157 3.195-2.608a1.304 1.304 0 011.5-.066 1.304 1.304 0 01.144 2.166l-5.335 4.265a1.526 1.526 0 01-1.93 0l-5.387-4.279a1.304 1.304 0 01-.196-1.786 1.304 1.304 0 011.84-.196l2.308 1.852 1.056.809z"/></g></svg>
      </button>
  </div>
  <div class="title-block">
    <div class="module">
      <div class="module__top">
        <div class="top__content"><h2>UX/UI Designer</h2></div>
      </div>
      <h1>Zachary Bowles</h1>
    </div>
    <div class="location"> 
      <svg width="20" height="29" xmlns="http://www.w3.org/2000/svg"><path d="M10 13.368c-1.579 0-2.857-1.298-2.857-2.9 0-1.603 1.278-2.9 2.857-2.9 1.579 0 2.857 1.297 2.857 2.9 0 1.602-1.278 2.9-2.857 2.9M10 0C4.477 0 0 4.544 0 10.15 0 15.756 10 29 10 29s10-13.244 10-18.85C20 4.544 15.523 0 10 0" fill="#FFF" fill-rule="evenodd"/></svg>
      <h3> Portland, OR, USA</h3>
    </div>
    <button class="download-button">
      <h4 class="button-text">Download &nbsp&nbsp&nbsp&nbsp</h4>
      <svg width="29" height="28" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="#000"><path d="M14.535 27.696H4.217a3.913 3.913 0 01-3.326-1.748 3.77 3.77 0 01-.678-2.165v-7.826a1.226 1.226 0 01.77-1.227 1.226 1.226 0 011.408.21c.284.255.441.622.43 1.003v7.748c-.01.418.178.815.51 1.07.215.17.482.262.756.26h20.791a1.304 1.304 0 001.396-1.408v-7.656a1.304 1.304 0 011.643-1.305 1.304 1.304 0 01.953 1.33v7.683a3.913 3.913 0 01-3.913 3.913l-10.422.118z"/><path d="M13.53 18.422V1.726a1.5 1.5 0 01.17-.783 1.304 1.304 0 012.44.666v16.813l.195-.157 3.195-2.608a1.304 1.304 0 011.5-.066 1.304 1.304 0 01.144 2.166l-5.335 4.265a1.526 1.526 0 01-1.93 0l-5.387-4.279a1.304 1.304 0 01-.196-1.786 1.304 1.304 0 011.84-.196l2.308 1.852 1.056.809z"/></g></svg>
    </button>
  </div>
  <div class="skills-block">
    <div class="chevron" onclick="resumeBar()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </div>
  </div>
  <div class="contact-details">
    <h1>Contact</h1>
    <ul>
      <li class="contact-site">zachbowles.com</li>
      <li class="contact-email">znsbowles@gmail.com</li>
      <li class="contact-phone">626 993 7501</li>
      <li class="contact-linkedin">zachary-bowles-769291163</li>
    </ul>
  </div>
  <div class="design-details">
    <h1>Skills</h1>
    <h2>Design</h2>
    <ul>
      <li>User flows</li>
      <li>Wireframing</li>
      <li>Prototyping</li>
      <li>Interaction design</li>
      <li>Interface design</li>
      <li>User Personas</li>
      <li>User Journeys</li>
    </ul>

    <h2>Research</h2>
    <ul>
      <li>User interviews</li>
      <li>Competitive research</li>
      <li>Comparative analysis</li>
      <li>Usability testing</li>
      <li>Surveys</li>
    </ul>

    <h2>Soft</h2>
    <ul>
      <li>Communication</li>
      <li>Teamwork</li>
      <li>Problem solving</li>
      <li>Empathy</li>
    </ul>
  </div>
  <div class="tools-details">
    <h1>Tools</h1>
    <ul>
      <li>Sketch</li>
      <li>InVision</li>
      <li>Figma</li>
      <li>Adobe Creative Suite</li>
      <li>Abstract</li>
      <li>Github</li>
      <li>Slack</li>
    </ul>
  </div>
  <div class="resume-summary">
      <h1 class="section-title">Summary</h1>
      <p>I offer experience in UX/UI design, small business strategy, marketing, sales, and customer support. 
        Strategizing how to effectively utilize finite resources to maximize a small company’s potential has been
         a large part of my young career.<br></p>
  </div>
  <div class="experience-block">

      <h1>Experience</h1>
    <section class="timeline">

        <div class="timeline__block">
            <div class="timeline__midpoint"></div>
            <div class="timeline__content timeline__content--left">
                <div class="timeline__year">
                  <h2>User Success Lead at RoasterTools</h2>
                  <p class="dates">March 2019 - Present</p>
                  <ul>
                      <li>Conducted a usability report of the application and suggested
                        solutions to improve the overall user experience.</li>
                      <li>Conducted an audit of the application, the feature request list, and the usability report to generate a new business roadmap and strategy.</li>
                      <li>Created a new onboarding system and wrote help documentation to
                        help new users learn the app faster.</li>
                      <li>Compared user feature request data with subscription retention
                        rates to concept a new business roadmap and strategy.</li>
                    </ul>
                </div>
                <p class="timeline__text--left">
                    March 2019 -<br>
                    Present
                </p>
            </div>
        </div>

        <div class="timeline__block">
            <div class="timeline__midpoint"></div>
            <div class="timeline__content timeline__content--left">
                <div class="timeline__year">
                  <h2>Marketing and Sales Associate at RoasterTools</h2>
                  <p class="dates">2018 - March 2019</p>
                    <ul>
                      <li>Redesigned marketing strategy by migrating to a CRM and focussing on
                        email outreach.</li>
                      <li>Strategized effective outreach strategy to maximize lead engagement.</li>
                      <li>Created a referral program as a low cost method of generating new leads.</li>
                      <li>Created a new website marketing landing page that increased web traffic by
                        30% through improved SEO</li>
                    </ul>
                </div>
                <p class="timeline__text--left">
                    August 2018 -<br>
                    March 2019
                </p>
            </div>
        </div>

        <div class="timeline__block">
            <div class="timeline__midpoint"></div>
            <div class="timeline__content timeline__content--left">
                <div class="timeline__year">
                  <h2>International Experience</h2>
                  <p class="dates">Summer 2016, 2017, 2018, 2019</p>
                  <ul>
                    <li>Lived and studied in France; learned basic French in 6 months.</li>
                    <li>Traveled extensively in both Europe and Latin America.</li>
                    <li>Have experience communicating with non-English speakers, as well as personal
                      knowledge of the challenges facing second-language speakers.</li>
                  </ul>
                </div>
                <p class="timeline__text--left">
                  Summers<br>
                  2016 2017<br>
                  2018 2019
                </p>
            </div>
        </div>

    </section>  

  </div>

  <div class="black-bg"></div>

  <div class="education-block">

      <h1>Education</h1>
      <section class="timeline">
  
          <div class="timeline__block">
              <div class="timeline__midpoint"></div>
              <div class="timeline__content timeline__content--left">
                  <div class="timeline__year">
                    <h2>Career Foundry</h2>
                    <p class="dates">2019</p>
                    <ul>
                        <li>Intensive project-based UI Design Course.</li>
                        <li>Broadened my understanding of Grids, Visual Hierarchy,
                          UI Design Patters, Color theory, Typography, and Icon Design.</li>
                        <li>Designed and created a fully responsive web-based Real Estate
                          App that intended to help users invest in real estate with confidence.</li>
                        <li>Intensive project-based UX Design Immersion Course.</li>
                        <li>Mastered the fundamentals of user experience design while creating a
                          native mobile app for Tattoo Artists and Enthusiasts.</li>
                        <li>Became versed in Human Centered Design Principles and agile methodologies.</li>
                        <li>Utilized Mobile first Design, Sprint strategies, and Lean UX strategies.</li>
                      </ul>
                  </div>
                  <p class="timeline__text--left">
                      2019
                  </p>
              </div>
          </div>
  
          <div class="timeline__block">
              <div class="timeline__midpoint"></div>
              <div class="timeline__content timeline__content--left">
                  <div class="timeline__year">
                    <h2>Reed College, Portland OR</h2>
                    <p class="dates">2015 - 2018</p>
                      <ul>
                        <li>Transferred to highly selective liberal arts college to pursue rigorous
                          interdisciplinary course study; extensive research, text analysis, writing;
                          resulted in ability to meet weekly deadlines with high level of accuracy. </li>
                        <li>Senior Thesis:  Conducted year-long independent research project on Federal
                          narcotics laws requiring highly disciplined approach to project management;
                          read 600 pages/week, incorporated weekly feedback, organized 300 citations and
                          multiple manuscript versions.  Supervised by Professor Will Smiley (Ph.D. Yale).
                          Resulted in 100-page publication, May, 2018.</li>
                      </ul>
                  </div>
                  <p class="timeline__text--left">
                      2015 -<br>
                      2018
                  </p>
              </div>
          </div>
  
          <div class="timeline__block">
              <div class="timeline__midpoint"></div>
              <div class="timeline__content timeline__content--left">
                  <div class="timeline__year">
                    <h2>University of Arizona</h2>
                    <p class="dates">2013 - 2015</p>
                    <ul>
                      <li>Two years of college-level courses in history, English, philosophy, and mathematics.</li>
                    </ul>
                  </div>
                  <p class="timeline__text--left">
                    2013 - <br>
                    2015
                  </p>
              </div>
          </div>
          <div class="timeline__block">
            <div class="timeline__midpoint"></div>
            <div class="timeline__content timeline__content--left">
                <div class="timeline__year">
                  <h2>Sciences Po Lilles</h2>
                  <p class="dates">2013 - 2015</p>
                  <ul>
                    <li>Semester of courses taught in French and English.</li>
                  </ul>
                </div>
                <p class="timeline__text--left">
                  2013 - <br>
                  2015
                </p>
            </div>
          </div>
  
      </section>  
  
    </div>

</div>

{% endblock %}
