{% extends 'base.html' %}
{% block main %}
<div class="resume-container grid">
  <div class="download-block">
    <button class="download-button">
        <p class="button-text">Download &nbsp&nbsp&nbsp&nbsp</p>
        <img class="arrow" src="../static/images/Icon/arrow_with_circle.png">
      </button>
  </div>
  <div class="title-block">
    <h1>Zachary Bowles</h1>
  </div>
  <div class="skills-block">
  </div>
  <div class="resume-summary">
      <h1 class="section-title">Summary</h1>
      <p>My work at a SaaS start-up gave me experience with small-business strategy,
        marketing, sales, customer support and everything in between! This experience
        has taught me how to effectively utilize my finite resources to help a small
        company realize its potential. I look forward to applying the principles I
        acquired towards designing digital experiences.<br></p>
  </div>
  <div class="experience-block">

    <section class="timeline">

        <div class="timeline__block">
            <div class="timeline__midpoint"></div>
            <div class="timeline__content timeline__content--left">
                <div class="timeline__year">
                  <h3>User Success Lead at RoasterTools</h3>
                  <h2>March 2019 - Present</h2>
                  <ul>
                      <li>Conducted a usability report of the application and suggested
                        solutions to improve the overall user experience.</li>
                      <li>Created a new onboarding system and wrote help documentation to
                        help new users learn the app faster.</li>
                      <li>Compared user feature request data with subscription retention
                        rates to concept a new business roadmap and strategy.</li>
                    </ul>
                </div>
                <p class="timeline__text--left">
                    March 2019<br>
                    Present
                </p>
            </div>
        </div>

        <div class="timeline__block">
            <div class="timeline__midpoint"></div>
            <div class="timeline__content timeline__content--left">
                <div class="timeline__year">
                  <h3>Marketing and Sales Associate at RoasterTools</h3>
                  <h2>2018 - March 2019</h2>
                    <ul>
                      <li>Redesigned marketing strategy by migrating to a CRM and focussing on
                        email outreach.</li>
                      <li>Strategized effective outreach strategy to maximize lead engagement.</li>
                      <li>Created a referral program as a low cost method of generating new leads.</li>
                      <li>Created a new website marketing landing page that increased web traffic by
                        30% through improved SEO</li>
                    </ul>
                </div>
                <p class="timeline__text--left">
                    2018<br>
                    March 2019
                </p>
            </div>
        </div>

        <div class="timeline__block">
            <div class="timeline__midpoint"></div>
            <div class="timeline__content timeline__content--left">
                <div class="timeline__year">
                  <h3>International Experience</h3>
                  <h2>Summer 2016, 2017, 2018, 2019</h2>
                  <ul>
                    <li>Lived and studied in France; learned basic French in 6 months.</li>
                    <li>Strategized effective outreach strategy to maximize lead engagement.</li>
                    <li>Traveled extensively in both Europe and Latin America.</li>
                    <li>Have experience communicating with non-English speakers, as well as personal
                      knowledge of the challenges facing second-language speakers.</li>
                  </ul>
                </div>
                <p class="timeline__text--left">
                  Summers<br>
                  2016 2017<br>
                  2018 2019
                </p>
            </div>
        </div>

    </section>  

  </div>

</div>

{% endblock %}
