{% extends 'base.html' %} {% block main %}

<div class="ink-envy-container grid">
  <div class="hero-container">
    <div class="hero-image-container">
      <img class="hero-image" src="../static/images/roastertools/splash.png" />
    </div>
    <a href="mailto:znsbowles@gmail.com" target="_blank" class="proto-button"
      >Contact me</a
    >
  </div>
  <div class="ink-envy-title">
    <h1>Overview</h1>
    <p>
      As a member of the RoasterTools team, I had the opportunity to redesign
      one of the most utilized pages on the platform. Since these changes have
      not been implemented yet, the majority of this case study is held offline.
      Please contact me if you would like to access the full report.
    </p>
  </div>

  <div class="first-wireframes"></div>
  <div class="first-wireframes-images">
    <div class="wireframe-container">
      <div class="wireframe-carousel">
        <ul class="wireframe-carousel__list">
          <li class="wireframe-carousel__item" data-pos="0">1</li>
          <li class="wireframe-carousel__item" data-pos="1">2</li>
          <li class="wireframe-carousel__item" data-pos="2">3</li>
          <li class="wireframe-carousel__item" data-pos="3">4</li>
          <li class="wireframe-carousel__item" data-pos="4">5</li>
          <li class="wireframe-carousel__item" data-pos="5">6</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
