{% extends 'base.html' %}

{% block main %}
  <div class="work-container">
    <a href="./">
      <div class="ink-card  card">
        <h1>Ink Envy</h1>
      </div>
    </a>
    <a href="./">
      <div class="roaster-card card">
        <h1>RoasterTools</h1>
      </div>
    </a>
    <a href="./">
      <div class="hahu-card card">
        <h1>HaHu</h1>
      </div>
    </a>
    <a href="./">
      <div class="ui-card card">
        <h1>UI Project</h1>
      </div>   
    </a>
  </div>
{% endblock %}
