{% extends 'base.html' %}

{% block main %}
<div class="content" onload="slideTransition()">
  <div class="css-carousel">
    <div class="carousel-slides">
      <div class="carousel-inner">
        <div class="carousel-item ink-envy-bg">
          <div class="carousel-image ink-envy-image"></div>
            <div class="center">
              <div class="title ink-envy-slide">
                <h1>Ink Envy</h1>
                <p>
                  <br>
                  Ink Envy is a mobile based platform I concepted  to help bring tattoo artists and tattoo enthusiasts
                  together. The app was designed using a user-centric approach that incorporated heuristic research,
                  validated assumptions, and repeated user testing. <a class="to-ink-envy-link" href="./ink-envy">Learn more.</a>
                  <br><br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
