{% extends 'base.html' %} {% block main %}
<div class="work-cards grid">
  <div class="blurred-card card__left card">
    <img
      class="card__image"
      src="../static/images/nest-egg/nest_egg_work.png"
      alt=""
    />
    <div class="card__hover">
      <div class="card__copy">
        <h1>Coming Soon!</h1>
      </div>
    </div>
  </div>

  <a class="roastertools-card card__right card" href="/roastertools">
    <img
      class="card__image"
      src="../static/images/roastertools/splash.png"
      alt=""
    />
    <div class="card__hover">
      <div class="card__copy">
        <h1>RoasterTools</h1>
        <p>
          As a member of the RoasterTools team, I had the opportunity to
          redesign one of the most utilized pages on the platform. Since these
          changes have not been implemented yet, this case study is held
          offline. Please contact me if you would like access to it
        </p>
      </div>
    </div>
  </a>

  <a class="ink-envy-card card__left card" href="/ink-envy">
    <img
      class="card__image"
      src="../static/images/ink-envy/ink-envy-work.png"
      alt=""
    />
    <div class="card__hover">
      <div class="card__copy">
        <h1>InkEnvy</h1>
        <p>
          Ink Envy is a mobile based platform I designed to help bring tattoo
          artists and tattoo enthusiasts together. This was a personal project,
          so I conducted all of the research, strategized the UX and designed
          the final interface.
        </p>
      </div>
    </div>
  </a>

  <a class="chautauqua-card card__right card" href="/chautauqua">
    <img
      class="card__image"
      src="../static/images/chautauqua/chautauqua-work.png"
      alt=""
    />
    <div class="card__hover">
      <div class="card__copy">
        <h1>Chautauqua</h1>
        <p>
          A poster series for a weekly intellectual gathering called Chautauqua.
        </p>
      </div>
    </div>
  </a>
</div>

{% endblock %}
