.about-container {
  .about-carousel {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .about-css-carousel {
    height: 100%;

    .about-carousel-inner,
    .about-carousel-item {
        height: 100%;
    }

    .about-carousel-item {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
    }

        .credit {
            display: none;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 20px;
            color: #fff;
            font-size: 14px;

            a {
                color: #fff;
                text-decoration: underline;
                font-weight: 700;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
        

  $about-css-carousel: (
      slides: 8,
      transition-speed: 1s
  );

  .about-css-carousel {
      position: relative;

      // hide input radio fields
      input[name="about-carousel"] {
          display: none;
      }

      // carousel navigation
      .about-carousel-nav {
          position: fixed;
          bottom: 50px;
          left: 0;
          right: 0;
          text-align: center;
          z-index: 1;

          label {
              background: #A9A8A8;
              border-radius: 50%;
              display: inline-block;
              margin: 0 10px;
              width: 20px;
              height: 20px;
              cursor: pointer;
              transition: background-color 0.25s;
          }
      }

      // active carousel navigation
      @for $i from 1 through map_get($about-css-carousel, slides) {
          #about-carousel-#{$i}:checked ~ .about-carousel-nav label[for="about-carousel-#{$i}"] {
              background-color: #FEFE00;
          }
      }

      // carousel slides
      .about-carousel-slides {
          height: 308px;
          width: 3200px;
          overflow: hidden;

          .about-carousel-inner {
              width: 3200px;
              transition: margin map_get($about-css-carousel, transition-speed);
          }

          .about-carousel-item {
              float: left;
              width: (3200px / map_get($about-css-carousel, slides));

              .about-carousel-image {
                height: 308px;
                margin-left: 0;
                margin-top: 0;
                width: 400px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              }

              .first-image {
                  background: url('../images/cuca_1.png');
                  margin-right: 100px;
              }

              .second-image {
                  background: url('../images/shaz_1.png');
                  margin-right: 100px;
              }

              .third-image {
                  background: url('../images/puppies.png');
                  margin-right: 100px;
              }
              .fourth-image {
                background: url('../images/cuca_2.png');
                margin-right: 100px;
              }
              .fifth-image {
                background: url('../images/fritz.png');
                margin-right: 100px;
              }
              .sixth-image {
                background: url('../images/fritz_django.png');
                margin-right: 100px;
              }
              .seventh-image {
                background: url('../images/django.png');
                margin-right: 100px;
              }
              .eighth-image {
                background: url('../images/shaz_2.png');
              }
          }
      }

      // active carousel slides
      @for $i from 1 through map_get($about-css-carousel, slides) {
          #about-carousel-#{$i}:checked ~ .about-carousel-slides .about-carousel-inner {
              @if $i == 8 {
                margin-left: 0;
              } @else {
                margin-left: (-12.5% * ($i - 1));
              }
          }
      }
  }

  .about-title {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
  }
  .about-para {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 8;
  }
  .about-LA {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 12;

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 8;
      grid-row-end: 10;
    }
  }
  .about-LA-image {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 10;

    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }

    @include breakpoint(m) {
      grid-column-start: 7;
      grid-column-end: 12;
      grid-row-start: 8;
      grid-row-end: 10;
    }
  }

  .about-reed {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 14;
    grid-row-end: 16;

    @include breakpoint(m) {
      grid-column-start: 7;
      grid-column-end: 12;
      grid-row-start: 10;
      grid-row-end: 12;
    }
  }

  .about-reed-image {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 14;

    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 10;
      grid-row-end: 12;
    }
  }

  .about-after-reed {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 18;
    grid-row-end: 20;

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 12;
      grid-row-end: 14;
    }
  }

  .about-after-reed-image {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 16;
    grid-row-end: 18;

    img {
      margin: auto;
      max-width: 100%;
      display: block;
    }

    @include breakpoint(m) {
      grid-column-start: 7;
      grid-column-end: 12;
      grid-row-start: 12;
      grid-row-end: 14;
    }
  }

  .about-articles {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 20;
    grid-row-end: 21;
    text-align: center;

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 15;
      grid-row-end: 16;
    }
  }

  .about-code-of-ethics {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 21;
    grid-row-end: 23;
    padding-bottom: 30px;

    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 16;
      grid-row-end: 18;
    }
  }
}
