.gallery-container {
  .gallery-wrap {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 1200px;
    margin: auto;

    @include breakpoint(s) {
      height: 100vh;
    }
  }

  .item {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 5;
    transition: flex 0.8s ease;

    @include breakpoint(s) {
      background-position: unset;
      background-size: contain;
      background-repeat: repeat;
      flex: 1;
    }

    &:hover {
      flex: 10;
    }
  }

  .item-1 {
    background-image: url(../images/chautauqua/chautauqua_1.png);
  }

  .item-2 {
    background-image: url(../images/chautauqua/chautauqua_3.png);
  }

  .item-3 {
    background-image: url(../images/chautauqua/Chatauqua_4.png);
  }

  .item-4 {
    background-image: url(../images/chautauqua/chautauqua_5.png);
  }
}
