.ethics-container {
  .ethics-title {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 5;
    text-align: center;
  }
  .ethics-accessibility {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .ethics-accessibility-image {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 7;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      display: block;
    }
  }
  .ethics-projects {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 10;
  }
  .ethics-projects-image {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 10;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      display: block;
    }
  }
  .ethics-limits {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 13;
  }
  .ethics-limits-image {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 13;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      display: block;
    }
  }
  .ethics-design {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 14;
    grid-row-end: 16;
  }
  .ethics-design-image {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 14;
    grid-row-end: 16;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      display: block;
    }
  }
  .ethics-data {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 17;
    grid-row-end: 19;
  }
  .ethics-data-image {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 17;
    grid-row-end: 19;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      display: block;
    }
  }
  .ethics-criticism {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 20;
    grid-row-end: 22;
  }
  .ethics-criticism-image {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 20;
    grid-row-end: 22;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      display: block;
    }
  }
}
