html, body {
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'construction';
  src: url('../fonts/stoney-billy/STONB___.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  
