html, body {
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;

  @include breakpoint(s) {
    font-size: 52.3px;
    line-height: 66px;
    font-weight: 900;
  }
}

h2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;

  @include breakpoint(s) {
    font-size: 32.3px;
    line-height: 41px;
    font-weight: 700;
  }
}

h3 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  font-style: italic;

  @include breakpoint(s) {
    font-size: 32.3px;
    line-height: 41px;
    font-weight: 600;
    font-style: italic;
  }
}

p {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;

  @include breakpoint(s) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }
}
