.header-wrapper {
  align-items: center;
  height: 60px;
  display: flex;

  .header-title {
    color: #000;
    font-size: 20px;
    margin-left: 30px;
    position: absolute;

    &:visited {
      color: #000;
    }
  }

  .header-nav {
    ul {
      display: flex;
      font-size: 14px;
      margin-right: 6px;
      margin-top: 0;
      position: absolute;
      right: 0;
      top: 25px;

      .header-mail {
        color: #D735A7;
        font-size: 20px;

        &:visited {
          color: #D735A7;
        }
      }

      .header-linkedin {
        color: #373A6D;
        font-size: 20px;

        &:visited {
          color: #373A6D;
        }
      }
    }
    
    li {
      list-style: none;
      margin-right: 34px;
    
      a {
        text-decoration: none;
        padding-bottom: 8px;
        text-transform: uppercase;
        color: #333;
    
        &:hover {
          border-bottom: 2px solid #000;
        }
    
        &:visited {
          color: #000;
        }
      }
    }
  }
}
