@import 'https://fonts.googleapis.com/css?family=Raleway';

.header-wrapper {
  border-bottom: #000 solid 1px;
  display: flex;
  max-width: 100%;

  .header-nav {
    ul {
      display: flex;
      margin-right: 6px;
      margin-top: 0;
      position: absolute;
      right: 0;
      top: 25px;
    }
    
    li {
      list-style: none;
      margin-right: 34px;
    
      a {
        text-decoration: none;
        padding-bottom: 8px;
        text-transform: uppercase;
        color: #333;
        font-family: 'Raleway', serif;
    
        &:hover {
          border-bottom: 2px solid #000;
        }
    
        &:visited {
          color: #000;
        }
      }
    }
  }
  
  .logo {
    margin-left: 30px;
    background-size: 40px;
  }
  
  
}


