body {
  overflow-y: scroll;
  overflow-x: hidden;
}

p {
    font-size: 20px;
    line-height: 30px;
}


.ink-envy-container {

  .hero-container {
    background-color: #000;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
    width: 100%;

    .hero-image-container {
      margin-top: 100px;

      .hero-image {
        display: block;
        margin: auto;
    }
    }

    .hero-title {
      color: #17F7FB;
      font-size: 50px;
      text-align: center;
    }

    .proto-button {
        background-color:transparent;
        border:1px solid #fff;
        cursor: pointer;
        color:#ffffff;
        font-size:20px;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 100px;
        padding: 25px 40px;
        text-decoration:none;
        width: 269px;
        display: flex;
        justify-content: center;
    }
    .proto-button:hover {
        color: #000;
        background-color:#fff;
    }
    .proto-button:active {
        position:relative;
        top:1px;
    }
  }

  .mobile-note {
    display: block;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;

    @include breakpoint(m) {
      display: none;
    }
  }

  .ink-envy-title {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: left;
  }

  .project-brief {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 7;

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 5;
      grid-row-end: 7;
    }
  }

  .the-challenge {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 10;

    .footnote {
      font-size: 12.36px;
    }

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 7;
      grid-row-end: 8;
    }
  }

  .my-role {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 13;

    @include breakpoint(m) {
      grid-column-start: 7;
      grid-column-end: 12;
      grid-row-start: 5;
      grid-row-end: 7;
    }
  }

  .feats-for-users {
    font-size: 14px;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 14;
    grid-row-end: 16;
    line-height: 18px;

    @include breakpoint(m) {
      font-size: 32px;
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 8;
      grid-row-end: 12;
      line-height: 41px;
    }

    h2 {
      font-size: 32px;
      line-height: 41px;
    }

    ul {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .feats-for-users-image {
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 17;
    grid-row-end: 20;

    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }

    @include breakpoint(m) {
      grid-column-start: 8;
      grid-column-end: 11;
      grid-row-start: 8;
      grid-row-end: 12;
    }
  }

  .feats-for-artists {
    font-size: 14px;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 21;
    grid-row-end: 24;
    line-height: 18px;

    @include breakpoint(m) {
      font-size: 32px;
      grid-column-start: 7;
      grid-column-end: 12;
      grid-row-start: 13;
      grid-row-end: 17;
      line-height: 41px;
    }

    h2 {
      font-size: 32px;
      line-height: 41px;
    }

    ul {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .feats-for-artists-image {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 25;
    grid-row-end: 28;

    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }

    @include breakpoint(m) {
      font-size: 32px;
      grid-column-start: 2;
      grid-column-end: 7;
      grid-row-start: 13;
      grid-row-end: 17;
      line-height: 41px;
    }
  }

  .the-approach {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 18;
    grid-row-end: 20;
  }

  .approach-diagram {
    grid-column-start: 3;
    grid-column-end: 12;
    grid-row-start: 20;
    grid-row-end: 22;
    transform: scale(1.2);

    img {
      max-width: 100%;
    }
  }

  .competitive-research {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 23;
    grid-row-end: 24;
  }

  .introduction {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 24;
    grid-row-end: 26;
  }

  .top-competitors {
    font-size: 20px;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 26;
    grid-row-end: 30;
    line-height: 30px;
  }

  .top-competitors-image {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 26;
    grid-row-end: 28;

    img {
      max-width: 100%;
    }
  }

  .ink-hunter-usability-image {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 28;
    grid-row-end: 31;

    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }
  }

  .ink-hunter-differentiation-image {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 28;
    grid-row-end: 31;

    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }
  }

  .tattoodo-image {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 32;
    grid-row-end: 34;

    img {
      max-width: 100%;
    }
  }

  .tattoodo-usability-image {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 34;
    grid-row-end: 37;

    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }
  }
  .tattoodo-differentiation-image {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 34;
    grid-row-end: 37;

    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }
  }

  .tattoodo {
    font-size: 20px;
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 32;
    grid-row-end: 37;
    line-height: 30px;
  }

  .user-research {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 38;
    grid-row-end: 39;
  }

  .user-research-summary {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 39;
    grid-row-end: 42;
  }

  .user-research-image {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 39;
    grid-row-end: 42;

    img {
      max-width: 100%;
      margin: auto;
      display: block;
    }
  }

  .wireframes-and-proto {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 43;
    grid-row-end: 44;
  }

  .wireframes-and-proto-intro {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 44;
    grid-row-end: 46;

  }

  .wireframes-and-proto-images {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 47;
    grid-row-end: 50;

    img {
      max-width: 100%;
    }
  }

  .first-wireframes {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 51;
    grid-row-end: 52;
  }

  .first-wireframes-images {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 52;
    grid-row-end: 55;

    img {
      max-width: 100%;
      margin-right: 50px;
    }
  }

  .second-wireframes {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 56;
    grid-row-end: 59;
  }

  .second-wireframes-images {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 60;
    grid-row-end: 63;

    img {
      max-width: 100%;
    }
  }

  .a-b-testing {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 64;
    grid-row-end: 64;
  }

  .a-b-testing-intro {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 65;
    grid-row-end: 68;
  }

  .a-b-testing-intro-image {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 65;
    grid-row-end: 68;

    img {
      max-width: 100%;
    }
  }

  .a-b-testing-script {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 69;
    grid-row-end: 71;
  }

  .a-b-testing-methodology {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 69;
    grid-row-end: 71;
  }

  .a-b-testing-results {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 72;
    grid-row-end: 73;
  }

  .redefining-design {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 74;
    grid-row-end: 75;
  }
  .redefining-design-intro {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 75;
    grid-row-end: 78;
  }
  .change-1 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 78;
    grid-row-end: 81;
    margin: auto;
  }
  .change-1-image {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 78;
    grid-row-end: 81;
    margin: auto;
    display: flex;

    img {
      max-width: 100%;
    }
  }
  .change-2 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 81;
    grid-row-end: 84;
    margin: auto;
  }
  .change-2-image {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 81;
    grid-row-end: 84;
    margin: auto;
    display: flex;

    img {
      max-width: 100%;
    }
  }
  .change-3 {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 87;
    grid-row-end: 90;
    margin: auto;
  }
  .change-3-image {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 87;
    grid-row-end: 90;
    margin: auto;
    display: flex;

    img {
      max-width: 100%;
    }
  }

  .finished-product {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 91;
    grid-row-end: 92;
  }

  .finished-product-images {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 92;
    grid-row-end: 95;

    img {
      max-width: 100%;
    }
  }
}
