.resume-container {
  .download-block {
    background: #fff;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 5;

    @include breakpoint(s) {
      grid-column-end: 4;
    }

    a {
      margin: auto;
    }


    .download-button {
      border: 2px solid #000;
      border-radius: 44px;
      box-shadow: -30px -30px 80px 0 #FFFFFF, 30px 30px 80px 0 rgba(195,194,206,0.50);
      cursor: pointer;
      color:#000;
      display: flex;
      grid-column-start: 1;
      margin: auto;
      padding: 5px 25px;
      text-align: justify;
      text-decoration: none;
      justify-content: center;

      .button-text {
        margin-left: 5px;
      }

      svg {
        margin-top: 12px;
        scale: 0.85;
      }

      @include breakpoint(s) {
        display: flex;
      }

      &:hover {
        background: #000;
        color: #fff;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }

  .title-block {
    background: linear-gradient(48deg, #090067 0%, #000000 54%);
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 2em;
    text-align: center;
    z-index: 6;

    @include breakpoint(s) {
      margin-left: calc((100vw /12) - 32px);
    }

    .module {
      width: 250px;
      height: 70px;
      position: relative;
      margin: 30px auto 20px;
      border-radius: 3px;
      padding: 12px;
      box-sizing: padding-box;
      position: relative;
      border-right: 5px solid #fff;
      border-top: 5px solid #fff;
      border-left: 5px solid #fff;

      @include breakpoint(s) {
        margin: 80px auto 40px;
        width: 360px;
        height: 100px;

        @include breakpoint(m) {
          width: 400px;
          height: 120px;
        }
      }
    }
    
    .module__top {
      cursor: move;
      display: flex;
      flex-direction: row;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0;
      
      &:before {
        border-radius: 3px 0 0 0;
        display: block;
        content: "";
        flex: 2 0 0;
        height: 5px;
        border-top: 5px solid #fff;
      }
      &:after {
        border-radius: 0 3px 0 0;
        display: block;
        content: "";
        flex: 2 0 0;
        height: 5px;
        border-top: 5px solid #fff;
      }

      @include breakpoint(s) {
        bottom: -5px;
      }
    }
    
    .top__content {
      height: 18px;
      color: #fff;
      font-weight: bold;
      margin-top: -38px;
      padding: 10px;
      text-align: center;

      @include breakpoint(s) {
        margin-top: -47px;

        @include breakpoint(l) {
          margin-top: -47px;
        }
      }
    }
    
    .module__contents {
      background: #606060;
      height: 100%;
      width: 100%;
    }

    @include breakpoint(s) {
      grid-column-start: 3;
      z-index: inherit;
    }

    .download-button {
      background-color: #f9f7ff;
      border: 2px solid #000;
      border-radius: 40px;
      cursor: pointer;
      color:#000;
      display: block;
      grid-column-start: 3;
      margin: 50px auto;
      padding: 2px 15px;
      text-decoration: none;
      display: flex;
      justify-content: center;

      .button-text {
        margin-left: 5px;
      }

      svg {
        margin-top: 4px;
        scale: 0.6;
      }

      @include breakpoint(s) {
        display: none;
      }
    }

    .location {
      display: inline-flex;
      margin: auto;

      svg {
        margin-top: 4px;
        margin-right: 3px;
        scale: 0.8;

        @include breakpoint(s) {
          margin-top: 13px;
          margin-right: 10px;
          scale: 1;
        }
      }
    }
  }

  .skills-block {
    background: linear-gradient(232deg, #090067 21%, #020202 35%);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 9;
    padding-right: 10px;
    z-index: 4;

    .chevron {
      top: 50%;
      position: relative;
      z-index: 15;

      svg {
        fill: #fff;
        display: block;
        margin: auto;
        scale: 1.5;
      }
    }

    @include breakpoint(m) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 8;

      .chevron {
        display: none;
      }
    }
  }

  .contact-details {
    z-index: 3;

    h1 {
      text-align: center;
    }

    ul {
      margin-left: 10px;
    }

    .contact-site {
      list-style-image: url(../images/Icon/user.svg);
    }

    .contact-email {
      list-style-image: url(../images/Icon/email.svg);
    }

    .contact-phone {
      list-style-image: url(../images/Icon/phone.svg);
    }

    .contact-linkedin {
      list-style-image: url(../images/Icon/Linkedin.svg);
    }

    .contact-behance {
      list-style-image: url(../images/Icon/behance.svg);
    }

    color: #fff;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;

    @include breakpoint(s) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 5;
    }
  }

  .design-details {
    z-index: 3;

    h1 {
      text-align: center;
    }

    h2 {
      margin-left: 20px;
    }

    color: #fff;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 7;

    @include breakpoint(s) {
      grid-column-end: 4;

      @include breakpoint(m) {
        grid-row-start: 5;
        grid-row-end: 8;
      }
    }
  }

  .tools-details {
    z-index: 3;

    h1 {
      text-align: center;
    }

    h2 {
      margin-left: 20px;
    }

    color: #fff;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 8;

    @include breakpoint(s) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 7;
      grid-row-end: 8;

      @include breakpoint(m) {
        color: #000;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 10;
      }
    }
  }

  .resume-summary {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;

    p {
      text-align: left;
    }

    @include breakpoint(s) {
      grid-column-start: 5;
    }
  }

  .experience-block {
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 9;

    @include breakpoint(s) {
      grid-column-start: 4;
    }

    @include breakpoint(m) {
      grid-row-end: 8;
    }

    @include breakpoint(l) {
      padding-right: 100px;
    }

    $headline: #000;
    $primary-color: #000;
    $matching-palette: honeydew;

    h1 {
      text-align: center;
      color: $headline;
    }

    .dates {
      display: block;
    }

    .timeline {
      position: relative;
      margin-top: 55px;
      margin-left: 15px;
      &:before {
        /* vertical line*/
        content: '';
        position: absolute;
        top: 10px;
        /* to align with midline*/
        left: -18px;
        width: 4px;
        height: 97%;
        background-color: #000;

        @include breakpoint(s) {
          left: 7px;
        }
      }
    }

    .timeline__block {
      position: relative;
      margin-top: 42px;
      margin-bottom: 42px;
      padding: 0 15px;
      &:last-child {
        margin-bottom: 3em;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .timeline__midpoint {
      position: absolute;
      top: 6px;
      left: -27px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $primary-color;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 16px;
        width: 15px;
      }

      @include breakpoint(s) {
        left: -8px;
        width: 34px;
        height: 34px;
      }
    }

    .timeline__content {
      position: relative;
      margin-left: -13px;
      margin-right: 14px;
      p + p {
        padding-top: 0;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      @include breakpoint(s) {
        margin-left: 20px;
      }
    }

    .timeline__midpoint--highlight > .timeline__year {
      display: none;
    }


    /* timeline typography */

    .timeline__content .timeline__year {
      color: $primary-color;
      text-align: left;
      top: -5%;

      ul {
        padding-left: 16px;
        padding-right: 5px;
      }
    }

    .timeline__midpoint--highlight .timeline__year {
      color: #fff;
      line-height: 4;
    }

    .timeline__year,
    .timeline__midpoint--highlight + .timeline__content {
      font-weight: 600;
    }

    .timeline__text--left {
      display: none;
    }

    @include breakpoint(l) {
      section {
        padding-right: 50px;
      }

      .dates {
        display: none;
      }

      .timeline {
        margin-left: 0;
        &:before {
          /* vertical line */
          left: 20%;
          margin-left: -1px;
        }
      }
      .timeline__midpoint {
        left: 20%;
        margin-left: -6px;
        &:before {
          width: 40px;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 16px;
          width: 40px;
        }
      }
      .timeline__midpoint--highlight {
        top: 0;
        width: 76px;
        height: 76px;
        margin-left: -29px;
        margin-left: -38px;
        text-align: center;
        &.no-top-margin {
          margin-top: 0;
        }
        .timeline__year {
          display: block;
        }
      }
      .timeline__midpoint--highlight:before,
      .timeline__midpoint.timeline__midpoint--highlight:after {
        content: none;
      }
      .timeline__midpoint--highlight,
      .timeline__midpoint--highlight + .timeline__content {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      .timeline__content {
        width: 100%;
        .timeline__year--mobile {
          display: none;
        }
      }
      .timeline__content--left {
        .timeline__year {
          left: 22%;
        }
      }
      .timeline__year {
        position: relative;
        width: 90%;
        margin-top: 0;
      }
      .timeline__text--left {
        display: block;
        margin-top: 0;
        padding-bottom: 75px;
        padding-right: 25px;
        position: absolute;
        text-align: left;
        top: 0;
        width: 10%;
      }
      .timeline__content--right {
        float: right;
        width: 53%;
        left: 11%;
        .timeline__year {
          right: 34%;
          text-align: right;
        }
        .timeline__text--right {
          height: 200px;
          margin-top: 0;
        }
      }
      .timeline__img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .timeline__content--left .timeline__img {
        left: 127%;
      }
      .timeline__content--right .timeline__img {
        right: 133.5%;
      }
    }

  }

  .black-bg {
    background: #000;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 17;
    margin-left: 2em;
    margin-top: -2em;
    z-index: -1;

    @include breakpoint(s) {
      grid-column-start: 3;
      margin-left: calc(100vw /12 - 2em);
    }

    @include breakpoint(m) {
      grid-row-start: 8;
    }
  }

  .education-block {
    background: #000;
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 16;

    @include breakpoint(s) {
      grid-column-start: 4;
    }

    @include breakpoint(m) {
      grid-row-start: 8;
    }

    @include breakpoint(l) {
      padding-right: 100px;
    }

    $headline: #fff;
    $primary-color: #fff;
    $matching-palette: honeydew;

    h1 {
      text-align: center;
      color: $headline;
    }

    .dates {
      display: block;
    }

    .timeline {
      position: relative;
      margin-top: 55px;
      margin-left: 15px;
      &:before {
        /* vertical line*/
        content: '';
        position: absolute;
        top: 10px;
        /* to align with midline*/
        left: -18px;
        width: 4px;
        height: 97%;
        background-color: #fff;

        @include breakpoint(s) {
          left: 7px;
        }
      }
    }

    .timeline__block {
      position: relative;
      margin-top: 42px;
      margin-bottom: 42px;
      padding: 0 15px;
      &:last-child {
        margin-bottom: 3em;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .timeline__midpoint {
      position: absolute;
      top: 6px;
      left: -27px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $primary-color;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 16px;
        width: 15px;
      }

      @include breakpoint(s) {
        left: -8px;
        width: 34px;
        height: 34px;
      }
    }

    .timeline__content {
      position: relative;
      margin-left: -13px;
      margin-right: 14px;
      p + p {
        padding-top: 0;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      @include breakpoint(s) {
        margin-left: 20px;
      }
    }

    .timeline__midpoint--highlight > .timeline__year {
      display: none;
    }


    /* timeline typography */

    .timeline__content .timeline__year {
      color: $primary-color;
      position: relative;
      text-align: left;
      top: -5%;

      ul {
        padding-left: 16px;
        padding-right: 5px;
      }

      h2 {
        line-height: 14px;

        p {
          font-style: italic;
        }
      }
    }

    .timeline__midpoint--highlight .timeline__year {
      color: #fff;
      line-height: 4;
    }

    .timeline__year,
    .timeline__midpoint--highlight + .timeline__content {
      font-weight: 600;
    }

    .timeline__text--left {
      display: none;
    }

    @include breakpoint(l) {
      section {
        padding-right: 50px;
      }

      .dates {
        display: none;
      }

      .timeline {
        margin-left: 0;
        &:before {
          /* vertical line */
          left: 20%;
          margin-left: -1px;
        }
      }
      .timeline__midpoint {
        left: 20%;
        margin-left: -6px;
        &:before {
          width: 40px;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 16px;
          width: 40px;
        }
      }
      .timeline__midpoint--highlight {
        top: 0;
        width: 76px;
        height: 76px;
        margin-left: -29px;
        margin-left: -38px;
        text-align: center;
        &.no-top-margin {
          margin-top: 0;
        }
        .timeline__year {
          display: block;
        }
      }
      .timeline__midpoint--highlight:before,
      .timeline__midpoint.timeline__midpoint--highlight:after {
        content: none;
      }
      .timeline__midpoint--highlight,
      .timeline__midpoint--highlight + .timeline__content {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      .timeline__content {
        width: 100%;
        .timeline__year--mobile {
          display: none;
        }
      }
      .timeline__content--left {
        .timeline__year {
          left: 22%;
        }
      }
      .timeline__year {
        position: absolute;
        width: 90%;
        margin-top: 0;
      }
      .timeline__text--left {
        color: #fff;
        display: block;
        margin-top: 0;
        padding-bottom: 75px;
        padding-right: 25px;
        position: absolute;
        text-align: left;
        top: 0;
        width: 10%;
      }
      .timeline__content--right {
        float: right;
        width: 53%;
        left: 11%;
        .timeline__year {
          right: 34%;
          text-align: right;
        }
        .timeline__text--right {
          height: 200px;
          margin-top: 0;
        }
      }
      .timeline__img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .timeline__content--left .timeline__img {
        left: 127%;
      }
      .timeline__content--right .timeline__img {
        right: 133.5%;
      }
    }
  }
}
