.resume-container {
  background-color: $bg-color;

  .right-side {
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 15;

    @include breakpoint(s) {
      padding-left: 0;
      grid-column-start: 5;

      @include breakpoint(xl) {
        grid-column-start: 4;
      }
    }
  }
  
  .left-side {
    background-color: $bg-color;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 15;
    z-index: 4;

    .right-border {
      background: $white;
      float: right;
      width: 4px;
      height: 100%;
      padding: 2px 0;
      filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
      z-index: 4;
    }

    @include breakpoint(s) {
      padding-left: 0;
      grid-column-end: 5;

      @include breakpoint(xl) {
        grid-column-end: 4;
      }
    }
  }

  .download-block {
    display: none;
    height: 290px;
    position: relative;
    top: 145.5px;
    z-index: 5;

    a {
      margin: auto;
    }


    .download-button {
      background-color: $white;
      border: none;
      border-radius: 30px;
      transition: all ease-in-out 300ms;
      cursor: pointer;
      color:#000;
      display: flex;
      grid-column-start: 1;
      margin: auto;
      padding: 5px 25px;
      text-align: justify;
      text-decoration: none;
      justify-content: center;
      box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);

      .button-text {
        margin-left: 5px;
      }

      svg {
        margin-top: 4px;
        scale: 0.65;
      }

      &:hover {
        box-shadow: 0px 37px 20px -15px rgba(0,0,0,0.2);
        transform: translate(0px, -10px);
      }
    }

    @include breakpoint(s) {
      display: block;
    }
  }

  .title-block {
    color: $dark-blue;
    text-align: center;
    z-index: 6;    

    .module {
      width: 200px;
      height: 55px;
      position: relative;
      margin: 30px auto 20px;
      border-radius: 3px;
      padding: 0 12px 12px;
      box-sizing: padding-box;
      position: relative;
      border-right: 5px solid $dark-blue;
      border-top: 5px solid $dark-blue;
      border-left: 5px solid $dark-blue;

      @include breakpoint(s) {
        margin: 80px auto 40px;
        width: 260px;
        height: 71px;

        @include breakpoint(m) {
          width: 300px;
          height: 80px;
        }
      }
    }
    
    .module__top {
      cursor: move;
      display: flex;
      flex-direction: row;
      width: 100%;
      position: absolute;
      bottom: -5px;
      left: 0;
      
      &:before {
        border-radius: 3px 0 0 0;
        display: block;
        content: "";
        flex: 2 0 0;
        height: 5px;
        border-top: 5px solid $dark-blue;
      }
      &:after {
        border-radius: 0 3px 0 0;
        display: block;
        content: "";
        flex: 2 0 0;
        height: 5px;
        border-top: 5px solid $dark-blue;
      }

      @include breakpoint(s) {
        bottom: -5px;
      }
    }
    
    .top__content {
      height: 18px;
      color: $dark-blue;
      filter: none;
      font-weight: bold;
      margin-top: -37px;
      padding: 10px;
      text-align: center;

      @include breakpoint(s) {
        margin-top: -39px;

        @include breakpoint(m) {
          margin-top: -45px;
        }
      }
    }
    
    .module__contents {
      height: 100%;
      width: 100%;
    }

    @include breakpoint(s) {
      grid-column-start: 3;
      z-index: inherit;
    }   

    .download-button {
      background-color: $white;
      border: none;
      box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
      border-radius: 30px;
      cursor: pointer;
      color:#000;
      display: block;
      grid-column-start: 3;
      margin: 0 auto 20px;
      padding: 2px 15px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      transition: all ease-in-out 300ms;

      .button-text {
        margin-left: 5px;
      }

      svg {
        scale: 0.6;
      }

      &:hover {
        box-shadow: 0px 37px 20px -15px rgba(0,0,0,0.2);
        transform: translate(0px, -10px);
      }

      @include breakpoint(s) {
        display: none;
      }
    }

    .location {
      color: #000;
      display: inline-flex;
      margin: auto auto 30px;


      svg {
        margin-right: 3px;
        scale: 0.6;

        @include breakpoint(s) {
          margin-top: 7px;
          margin-right: 10px;
          scale: .8;
        }
      }
    }
  }

  .skills-block {
    padding-right: 10px;
    z-index: 4;


    @keyframes bounce {
      0% {
        transform: translateX(0);
      }
      10% {
        transform: translateX(-20px);
      }
      14% {
        transform: translateX(0);
      }
      18% {
        transform: translateX(-10px);
      }
      25% {
        transform: translateX(0);
      }
    }

    .paused{
      -webkit-animation-play-state: paused !important;
      -moz-animation-play-state: paused !important;
      -o-animation-play-state: paused !important; 
      animation-play-state: paused !important;
    }

    .chevron {
      animation: bounce 4s infinite running;
      top: 50%;
      position: fixed;
      z-index: 15;

      svg {
        fill: #000;
        display: block;
        margin: auto;
        scale: 1.5;
      }
    }

    @include breakpoint(m) {

      .chevron {
        display: none;
      }

      @include breakpoint(l) {
        padding-left: 20px;
      }
    }
  }

  .contact-details {
    z-index: 3;

    h1 {
      text-align: center;
    }

    ul {
      margin-left: 10px;
    }

    .contact-site {
      list-style-image: url(../images/Icon/user.svg);
    }

    .contact-email {
      list-style-image: url(../images/Icon/email.svg);
    }

    .contact-phone {
      list-style-image: url(../images/Icon/phone.svg);
    }

    .contact-linkedin {
      list-style-image: url(../images/Icon/Linkedin.svg);
    }

    .contact-behance {
      list-style-image: url(../images/Icon/behance.svg);
    }

    a {
      color: #000;
      text-decoration: underline;
      
      &:visited {
        color: #000;
      }
    }

    color: #000;
  }

  .design-details {
    z-index: 3;

    h1 {
      text-align: center;
    }

    h2 {
      margin-left: 20px;
    }

    color: #000;
  }

  .tools-details {
    z-index: 3;

    h1 {
      text-align: center;
    }

    h2 {
      margin-left: 20px;
    }

    color: #000;
  }

  .resume-summary {
    text-align: center;

    .top-border {
      background: $white;
      max-width: 2000px;
      padding: 2px 0;
      position: relative;
      filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
      z-index: 3;
    }

    .section-title {
      padding-left: 40px;
    }

    p {
      padding-left: 40px;
      padding-right: 20px;

      @include breakpoint(xl) {
        margin: auto;
        width: 80%;
      }
    }    
  }

  .experience-block {

    padding-left: 40px;

    @include breakpoint(l) {

      section {
        padding-right: 100px;
      }
    }

    $headline: #000;
    $primary-color: #000;
    $matching-palette: honeydew;

    h1 {
      text-align: center;
      color: $headline;
    }

    .dates {
      display: block;
    }

    .timeline {
      position: relative;
      margin-top: 55px;
      margin-left: 15px;
      &:before {
        /* vertical line*/
        content: '';
        position: absolute;
        top: 10px;
        /* to align with midline*/
        left: -18px;
        width: 4px;
        height: 97%;
        background-color: #000;

        @include breakpoint(s) {
          left: 7px;
        }
      }
    }

    .timeline__block {
      position: relative;
      margin-top: 42px;
      margin-bottom: 42px;
      padding: 0 15px;
      &:last-child {
        margin-bottom: 3em;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .timeline__midpoint {
      position: absolute;
      top: 6px;
      left: -27px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $primary-color;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 16px;
        width: 15px;
      }

      @include breakpoint(s) {
        left: -8px;
        width: 34px;
        height: 34px;
      }
    }

    .timeline__content {
      position: relative;
      margin-left: -13px;
      margin-right: 14px;
      p + p {
        padding-top: 0;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      @include breakpoint(s) {
        margin-left: 20px;
      }
    }

    .timeline__midpoint--highlight > .timeline__year {
      display: none;
    }


    /* timeline typography */

    .timeline__content .timeline__year {
      color: $primary-color;
      text-align: left;
      top: -5%;

      ul {
        padding-left: 16px;
        padding-right: 5px;
      }
    }

    .timeline__midpoint--highlight .timeline__year {
      color: $white;
      line-height: 4;
    }

    .timeline__year,
    .timeline__midpoint--highlight + .timeline__content {
      font-weight: 600;
    }

    .timeline__text--left {
      display: none;
    }

    @include breakpoint(l) {
      section {
        padding-right: 50px;
      }

      .dates {
        display: none;
      }

      .timeline {
        margin-left: 0;
        &:before {
          /* vertical line */
          left: 20%;
          margin-left: -1px;
        }
      }
      .timeline__midpoint {
        left: 20%;
        margin-left: -6px;
        &:before {
          width: 40px;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 16px;
          width: 40px;
        }
      }
      .timeline__midpoint--highlight {
        top: 0;
        width: 76px;
        height: 76px;
        margin-left: -29px;
        margin-left: -38px;
        text-align: center;
        &.no-top-margin {
          margin-top: 0;
        }
        .timeline__year {
          display: block;
        }
      }
      .timeline__midpoint--highlight:before,
      .timeline__midpoint.timeline__midpoint--highlight:after {
        content: none;
      }
      .timeline__midpoint--highlight,
      .timeline__midpoint--highlight + .timeline__content {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      .timeline__content {
        width: 100%;
        .timeline__year--mobile {
          display: none;
        }
      }
      .timeline__content--left {
        .timeline__year {
          left: 22%;
        }
      }
      .timeline__year {
        position: relative;
        width: 90%;
        margin-top: 0;

        @include breakpoint(l) {
          width: 80%;
        }
      }
      .timeline__text--left {
        display: block;
        margin-top: 0;
        padding-bottom: 75px;
        padding-right: 25px;
        position: absolute;
        text-align: left;
        top: 0;
        width: 10%;
      }
      .timeline__content--right {
        float: right;
        width: 53%;
        left: 11%;
        .timeline__year {
          right: 34%;
          text-align: right;
        }
        .timeline__text--right {
          height: 200px;
          margin-top: 0;
        }
      }
      .timeline__img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .timeline__content--left .timeline__img {
        left: 127%;
      }
      .timeline__content--right .timeline__img {
        right: 133.5%;
      }
    }

  }

  .education-block {
    background: $bg-color;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 9;
    grid-row-end: 16;

    @include breakpoint(s) {
      grid-column-start: 4;
    }

    @include breakpoint(m) {
      grid-row-start: 8;
    }

    @include breakpoint(l) {
      padding-right: 100px;

      section {
        padding-right: 100px;
      }
    }

    $headline: $white;
    $primary-color: $white;
    $matching-palette: honeydew;

    h1 {
      text-align: center;
      color: $headline;
    }

    .dates {
      display: block;
    }

    .timeline {
      position: relative;
      margin-top: 55px;
      margin-left: 15px;
      &:before {
        /* vertical line*/
        content: '';
        position: absolute;
        top: 10px;
        /* to align with midline*/
        left: -18px;
        width: 4px;
        height: 97%;
        background-color: $white;

        @include breakpoint(s) {
          left: 7px;
        }
      }
    }

    .timeline__block {
      position: relative;
      margin-top: 42px;
      margin-bottom: 42px;
      padding: 0 15px;
      &:last-child {
        margin-bottom: 3em;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .timeline__midpoint {
      position: absolute;
      top: 6px;
      left: -27px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $primary-color;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 16px;
        width: 15px;
      }

      @include breakpoint(s) {
        left: -8px;
        width: 34px;
        height: 34px;
      }
    }

    .timeline__content {
      position: relative;
      margin-left: -13px;
      margin-right: 14px;
      p + p {
        padding-top: 0;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      @include breakpoint(s) {
        margin-left: 20px;
      }
    }

    .timeline__midpoint--highlight > .timeline__year {
      display: none;
    }


    /* timeline typography */

    .timeline__content .timeline__year {
      color: $primary-color;
      position: relative;
      text-align: left;
      top: -5%;

      ul {
        padding-left: 16px;
        padding-right: 5px;
      }

      h2 {
        line-height: 28px;

        p {
          font-style: italic;
        }
      }
    }

    .timeline__midpoint--highlight .timeline__year {
      color: $white;
      line-height: 4;
    }

    .timeline__year,
    .timeline__midpoint--highlight + .timeline__content {
      font-weight: 600;
    }

    .timeline__text--left {
      display: none;
    }

    @include breakpoint(l) {
      section {
        padding-right: 50px;
      }

      .dates {
        display: none;
      }

      .timeline {
        margin-left: 0;
        &:before {
          /* vertical line */
          left: 20%;
          margin-left: -1px;
        }
      }
      .timeline__midpoint {
        left: 20%;
        margin-left: -6px;
        &:before {
          width: 40px;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 16px;
          width: 40px;
        }
      }
      .timeline__midpoint--highlight {
        top: 0;
        width: 76px;
        height: 76px;
        margin-left: -29px;
        margin-left: -38px;
        text-align: center;
        &.no-top-margin {
          margin-top: 0;
        }
        .timeline__year {
          display: block;
        }
      }
      .timeline__midpoint--highlight:before,
      .timeline__midpoint.timeline__midpoint--highlight:after {
        content: none;
      }
      .timeline__midpoint--highlight,
      .timeline__midpoint--highlight + .timeline__content {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      .timeline__content {
        width: 100%;
        .timeline__year--mobile {
          display: none;
        }
      }
      .timeline__content--left {
        .timeline__year {
          left: 22%;
        }
      }
      .timeline__year {
        position: absolute;
        width: 90%;
        margin-top: 0;

        @include breakpoint(l) {
          width: 80%;
        }
      }
      .timeline__text--left {
        color: $white;
        display: block;
        margin-top: 0;
        padding-bottom: 75px;
        padding-right: 25px;
        position: absolute;
        text-align: left;
        top: 0;
        width: 10%;
      }
      .timeline__content--right {
        float: right;
        width: 53%;
        left: 11%;
        .timeline__year {
          right: 34%;
          text-align: right;
        }
        .timeline__text--right {
          height: 200px;
          margin-top: 0;
        }
      }
      .timeline__img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .timeline__content--left .timeline__img {
        left: 127%;
      }
      .timeline__content--right .timeline__img {
        right: 133.5%;
      }
    }
  }
}
