.body {
  overflow: hidden;
}

.resume-container {
  .download-block {
    background: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 1;


    .download-button {
      background-color: #000;
      border: 2px solid #fff;
      border-radius: 30px;
      cursor: pointer;
      color:#fff;
      font-weight: bold;
      grid-column-start: 3;
      margin: 50px auto;
      padding: 0 20px;
      text-decoration:none;
      display: flex;
      justify-content: center;

      .button-text {
          font-size: 15px;
          line-height: 8px;
          margin-left: 5px;
      }

      img {
          margin: -9px -9px -9px 0;
          position: relative;
          transform: scale(.4);
      }
    }
  }

  .title-block {
    background: linear-gradient(0.25turn, #0C0085, #000);
    color: #fff;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: calc((100vw /12) - 16px);
    text-align: center;

    h1 {
      margin: 80px 0;
      vertical-align: middle;
    }
  }

  .skills-block {
    background: linear-gradient(0.33turn, #0C0085, #000);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 15;
    // margin-top: calc(100px + (1440 / 100vw));
  }

  .resume-summary {
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
  }

  .experience-block {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 15;

    @include breakpoint(m) {
      grid-column-end: 12;
    }

    $headline: #000;
    $primary-color: #000;
    $matching-palette: honeydew;

    h1 {
      text-align: center;
      color: $headline;
    }

    h2 {
      display: block;
      font-size: 16px;
    }

    h3 {
      font-size: 20px;
      line-height: 30px;
    }

    .timeline {
      position: relative;
      margin-top: 55px;
      margin-left: 15px;
      &:before {
        /* vertical line*/
        content: '';
        position: absolute;
        top: 10px;
        /* to align with midline*/
        left: 7px;
        width: 4px;
        height: 97%;
        background-color: #000;
      }
    }

    .timeline__block {
      position: relative;
      margin-top: 42px;
      margin-bottom: 42px;
      padding: 0 15px;
      &:last-child {
        margin-bottom: 3em;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .timeline__midpoint {
      position: absolute;
      top: 6px;
      left: -8px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $primary-color;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 16px;
        width: 15px;
      }
    }

    .timeline__content {
      position: relative;
      margin-left: 20px;
      p + p {
        padding-top: 0;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .timeline__midpoint--highlight > .timeline__year {
      display: none;
    }


    /* timeline typography */

    .timeline__content .timeline__year {
      color: $primary-color;
      text-align: left;
      top: -5%;

      ul {
        padding-right: 47px;
      }
    }

    .timeline__midpoint--highlight .timeline__year {
      color: #fff;
      line-height: 4;
    }

    .timeline__year,
    .timeline__midpoint--highlight + .timeline__content {
      font-weight: 600;
    }

    .timeline__text--left {
      display: none;
    }

    @include breakpoint(m) {
      section {
        padding-right: 50px;
      }

      h2 {
        display: none;
      }

      .timeline {
        margin-left: 0;
        &:before {
          /* vertical line */
          left: 20%;
          margin-left: -1px;
        }
      }
      .timeline__midpoint {
        left: 20%;
        margin-left: -6px;
        &:before {
          width: 40px;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 16px;
          width: 40px;
        }
      }
      .timeline__midpoint--highlight {
        top: 0;
        width: 76px;
        height: 76px;
        margin-left: -29px;
        margin-left: -38px;
        text-align: center;
        &.no-top-margin {
          margin-top: 0;
        }
        .timeline__year {
          display: block;
        }
      }
      .timeline__midpoint--highlight:before,
      .timeline__midpoint.timeline__midpoint--highlight:after {
        content: none;
      }
      .timeline__midpoint--highlight,
      .timeline__midpoint--highlight + .timeline__content {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      .timeline__content {
        width: 100%;
        .timeline__year--mobile {
          display: none;
        }
      }
      .timeline__content--left {
        .timeline__year {
          left: 22%;
        }
      }
      .timeline__year {
        position: absolute;
        width: 100%;
        margin-top: 0;
      }
      .timeline__text--left {
        display: block;
        padding-bottom: 75px;
        padding-right: 25px;
        text-align: left;
        width: 10%;
      }
      .timeline__content--right {
        float: right;
        width: 53%;
        left: 11%;
        .timeline__year {
          right: 34%;
          text-align: right;
        }
        .timeline__text--right {
          height: 200px;
          margin-top: 0;
        }
      }
      .timeline__img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .timeline__content--left .timeline__img {
        left: 127%;
      }
      .timeline__content--right .timeline__img {
        right: 133.5%;
      }
    }

  }
}
