body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.ink-envy-container {
  h1 {
    color: $dark-blue;
  }

  .hero-container {
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: left;
    width: 100%;

    .hero-image-container {
      .hero-image {
        display: block;
        margin: auto;
        max-width: 90%;
      }
    }

    .proto-button {
      background-color: $white;
      border-radius: 30px;
      border: none;
      box-shadow: $button-shadow;
      cursor: pointer;
      color: #000;
      display: flex;
      font-size: 14px;
      font-weight: 900;
      grid-column-start: 3;
      margin: 0 auto 50px;
      padding: 15px 0;
      text-decoration: none;
      justify-content: center;
      transition: all ease-in-out 300ms;
      width: 180px;

      &:hover {
        box-shadow: $button-shadow-hover;
        transform: translate(0px, -10px);
      }

      @include breakpoint(m) {
        font-size: 20px;
        padding: 20px 0;
        width: 269px;
      }
    }
  }

  .ink-envy-title {
    border-top: 1px solid;
    grid-column-start: 2;
    grid-column-end: 12;
    padding-top: 80px;
    text-align: left;
  }

  .first-wireframes {
    grid-column-start: 2;
    grid-column-end: 12;

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 12;
    }
  }

  .first-wireframes-images {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 13;

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 12;
    }

    height: 400px;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin: 0;

    @include breakpoint(s) {
      height: 650px;
    }

    .wireframe-container {
      .wireframe-carousel {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        font-family: Arial;

        &__list {
          display: flex;
          list-style: none;
          position: relative;
          width: 100%;
          height: 3600px;
          margin-left: -40px;
          justify-content: center;
          perspective: 360px;

          @include breakpoint(s) {
            perspective: 500px;
            height: 500px;
          }
        }

        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0px;
          width: 200px;
          height: 130px;
          border-radius: 12px;
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
          position: absolute;
          transition: all 0.3s ease-in;

          @include breakpoint(s) {
            width: 345px;
            height: 223px;
          }

          @include breakpoint(m) {
            width: 500px;
            height: 312px;
          }

          &:nth-child(1) {
            background: center / contain no-repeat
              url(../images/roastertools/pending.png);
          }
          &:nth-child(2) {
            background: center / contain no-repeat
              url(../images/roastertools/production-row-expanded.png);
          }
          &:nth-child(3) {
            background: center / contain no-repeat
              url(../images/roastertools/ready.png);
          }
          &:nth-child(4) {
            background: center / contain no-repeat
              url(../images/roastertools/shipped-overdue.png);
          }
          &:nth-child(5) {
            background: center / contain no-repeat
              url(../images/roastertools/shipped-row-collapsed.png);
          }
          &:nth-child(6) {
            background: center / contain no-repeat
              url(../images/roastertools/shipped-row-expanded.png);
          }

          &[data-pos="2"] {
            z-index: 5;
          }

          &[data-pos="1"],
          &[data-pos="3"] {
            opacity: 0.7;
            filter: blur(1px) grayscale(10%);
          }

          &[data-pos="1"] {
            transform: translateX(-40%) scale(0.9);
            z-index: 4;
          }

          &[data-pos="3"] {
            transform: translateX(40%) scale(0.9);
            z-index: 4;
          }

          &[data-pos="0"],
          &[data-pos="4"] {
            opacity: 0.4;
            filter: blur(3px) grayscale(20%);
          }

          &[data-pos="0"] {
            transform: translateX(-70%) scale(0.8);
            z-index: 3;
          }

          &[data-pos="4"] {
            transform: translateX(70%) scale(0.8);
            z-index: 3;
          }

          &[data-pos="5"] {
            transform: scale(0.8);
            z-index: 2;
          }
        }
      }
    }
  }

  .a-b-testing {
    border-top: 1px solid;
    grid-column-start: 2;
    grid-column-end: 12;

    h1 {
      padding-top: 100px;

      @include breakpoint(m) {
        padding-top: 150px;
      }
    }

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 12;
      // grid-row-start: 56;
      // grid-row-end: 57;
      margin-top: 80px;
    }
  }

  .a-b-testing-intro {
    grid-column-start: 2;
    grid-column-end: 12;
    // grid-row-start: 76;
    // grid-row-end: 79;

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 7;
      // grid-row-start: 57;
      // grid-row-end: 60;
    }
  }

  .a-b-testing-intro-image {
    grid-column-start: 2;
    grid-column-end: 12;
    // grid-row-start: 79;
    // grid-row-end: 82;

    img {
      max-width: 100%;
    }

    @include breakpoint(m) {
      grid-column-start: 7;
      grid-column-end: 12;
      // grid-row-start: 57;
      // grid-row-end: 60;
    }
  }

  .a-b-testing-script {
    grid-column-start: 2;
    grid-column-end: 12;
    // grid-row-start: 82;
    // grid-row-end: 84;

    a {
      text-decoration: underline;

      &:visited {
        color: inherit;
      }

      &:hover,
      &:focus {
        color: $dark-blue;
      }
    }

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 7;
    }
  }

  .a-b-testing-methodology {
    grid-column-start: 2;
    grid-column-end: 12;

    @include breakpoint(m) {
      grid-column-start: 7;
      grid-column-end: 12;
    }
  }

  .a-b-testing-results {
    grid-column-start: 2;
    grid-column-end: 12;

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 12;
    }
  }

  .redefining-design {
    border-top: 1px solid;
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 100px;

    h1 {
      padding-top: 100px;

      @include breakpoint(m) {
        padding-top: 150px;
      }
    }

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 12;
      margin-top: 100px;
    }
  }
  .redefining-design-intro {
    grid-column-start: 2;
    grid-column-end: 12;

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 12;
    }
  }

  .change-1 {
    grid-column-start: 2;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: auto 0;

    .change-1-image {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 2;
      margin: auto;
      display: flex;

      img {
        max-width: 44%;
        margin: 0 1.5%;
      }

      @include breakpoint(m) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
      }
    }

    .change-1-text {
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 1;

      @include breakpoint(m) {
        grid-column-start: 5;
        grid-column-end: 8;
      }
    }
  }

  .change-2 {
    grid-column-start: 2;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: auto 0;

    .change-2-image {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 2;
      margin: auto;
      display: flex;

      img {
        max-width: 44%;
        margin: 0 1.5%;
      }

      @include breakpoint(m) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
      }
    }

    .change-2-text {
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 1;

      @include breakpoint(m) {
        grid-column-start: 5;
        grid-column-end: 8;
      }
    }
  }

  .change-3 {
    grid-column-start: 2;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: auto 0;

    .change-3-image {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 2;
      margin: auto;
      display: flex;

      img {
        max-width: 44%;
        margin: 0 1.5%;
      }

      @include breakpoint(m) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
      }
    }

    .change-3-text {
      grid-column-start: 1;
      grid-column-end: 8;
      grid-row-start: 1;

      @include breakpoint(m) {
        grid-column-start: 5;
        grid-column-end: 8;
      }
    }
  }

  .finished-product {
    border-top: 1px solid;
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 100px;

    h1 {
      padding-top: 100px;

      @include breakpoint(m) {
        padding-top: 150px;
      }
    }

    @include breakpoint(m) {
      grid-column-start: 2;
      grid-column-end: 12;
      margin-top: 150px;
    }
  }

  .finished-product-images {
    grid-column-start: 1;
    grid-column-end: 13;

    @include breakpoint(m) {
      grid-column-start: 1;
      grid-column-end: 13;
    }

    height: 400px;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin: 0;

    @include breakpoint(s) {
      height: 650px;
    }

    .final-proto-container {
      .final-proto-carousel {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        font-family: Arial;

        &__list {
          display: flex;
          list-style: none;
          position: relative;
          width: 100%;
          height: 3600px;
          margin-left: -40px;
          justify-content: center;
          perspective: 360px;

          @include breakpoint(s) {
            perspective: 500px;
            height: 500px;
          }
        }

        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0px;
          width: 164px;
          height: 356px;
          position: absolute;
          transition: all 0.3s ease-in;

          @include breakpoint(s) {
            width: 227px;
            height: 491px;
          }

          &:nth-child(1) {
            background: center / contain no-repeat
              url(../images/ink-envy/final_appt_screen.png);
          }
          &:nth-child(2) {
            background: center / contain no-repeat
              url(../images/ink-envy/final_artist_screen.png);
          }
          &:nth-child(3) {
            background: center / contain no-repeat
              url(../images/ink-envy/final_home_screen.png);
          }
          &:nth-child(4) {
            background: center / contain no-repeat
              url(../images/ink-envy/final_profile_screen.png);
          }
          &:nth-child(5) {
            background: center / contain no-repeat
              url(../images/ink-envy/final_explore_screen.png);
          }

          &[data-pos="2"] {
            z-index: 5;
          }

          &[data-pos="1"],
          &[data-pos="3"] {
            opacity: 0.7;
            filter: blur(1px) grayscale(10%);
          }

          &[data-pos="1"] {
            transform: translateX(-40%) scale(0.9);
            z-index: 4;
          }

          &[data-pos="3"] {
            transform: translateX(40%) scale(0.9);
            z-index: 4;
          }

          &[data-pos="0"],
          &[data-pos="4"] {
            opacity: 0.4;
            filter: blur(3px) grayscale(20%);
          }

          &[data-pos="0"] {
            transform: translateX(-70%) scale(0.8);
            z-index: 3;
          }

          &[data-pos="4"] {
            transform: translateX(70%) scale(0.8);
            z-index: 3;
          }
        }
      }
    }

    .proto-button {
      background-color: $white;
      border-radius: 30px;
      border: none;
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      color: #000;
      display: flex;
      font-size: 14px;
      font-weight: 900;
      margin: 0 auto 50px;
      padding: 15px 0;
      text-decoration: none;
      justify-content: center;
      transition: all ease-in-out 300ms;
      width: 180px;

      &:hover {
        box-shadow: 0px 37px 20px -15px rgba(0, 0, 0, 0.2);
        transform: translate(0px, -10px);
      }

      @include breakpoint(m) {
        font-size: 20px;
        padding: 20px 0;
        width: 269px;
      }
    }
  }
}
