.content {
  position: fixed;
  height: 100%;
  z-index: -1;

  h1 {
    font-size: 20px;

    @include breakpoint(s) {
        font-size: 45px;
    }
  }

  h2 {
    font-size: 14px;
    text-align: left;

    @include breakpoint(s) {
        font-size: 27.81px;;
    }
  }

  p {
    font-size: 12px;
    line-height: 16px;
    text-align: left;

    @include breakpoint(s) {
        font-size: 20px;
        line-height: 28px;
    }
  }

  .css-carousel {
      height: 100%;

      .carousel-inner,
      .carousel-item {
          height: 100%;
      }

      .carousel-item {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: relative;

          .center {
            width: 100%;
            height: 100%;
            display: flex;
            text-align: center;
            position: absolute;
            top: 30vh;

            @include breakpoint(m) {
                top: 20vh;
            }

              .title {
                display: table-cell;
                height: 30vh;
                margin: 5vh auto;
                max-width: 600px;
                padding: 20px;
                vertical-align: middle;
                width: 65vw;

                @include breakpoint(m) {
                    height: 40vh;
                    margin-left: 10vw;
                    margin-top: 2vh;
                    width: 30vw;
                }
              }

              .human-slide {
                border: 2px solid #fff;
                background: linear-gradient(#0C0085, #000);
                color: #fff;
              }

              .ink-envy-slide {
                border: 2px solid #000;
                color: #000;
                background: #fff;
              }

              .estate-slide {
                background: #000;
                border: 2px solid #fefe00;
                color: #fff;
              }
          }

          .credit {
              display: none;
              position: absolute;
              right: 0;
              bottom: 0;
              padding: 20px;
              color: #fff;
              font-size: 14px;

              a {
                  color: #fff;
                  text-decoration: underline;
                  font-weight: 700;

                  &:hover {
                      text-decoration: none;
                  }
              }
          }
      }
  }
}
          

$css-carousel: (
    slides: 4,
    transition-speed: 1s
);

.css-carousel {
    position: relative;

    // hide input radio fields
    input[name="carousel"] {
        display: none;
    }

    // carousel navigation
    .carousel-nav {
        position: fixed;
        bottom: 50px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;

        label {
            background: #A9A8A8;
            border-radius: 50%;
            display: inline-block;
            margin: 0 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            transition: background-color 0.25s;
        }
    }

    // active carousel navigation
    @for $i from 1 through map_get($css-carousel, slides) {
        #carousel-#{$i}:checked ~ .carousel-nav label[for="carousel-#{$i}"] {
            background-color: #FEFE00;
        }
    }

    // carousel slides
    .carousel-slides {
        height: 100%;
        width: 100%;
        overflow: hidden;

        .carousel-inner {
            width: (100% * map_get($css-carousel, slides));
            transition: margin map_get($css-carousel, transition-speed);
        }

        .ink-envy-bg {
            background: #090067;
        }

        .human-bg {
            background: #000;
        }

        .carousel-item {
            float: left;
            width: (100% / map_get($css-carousel, slides));

            .carousel-image {
                height: 50vh;
                margin: 10vh auto;
                width: 100vw;

                @include breakpoint(m) {
                    height: 70vh;
                    margin-left: 30vw;
                    margin-top: 10vh;
                    width: 70vw;
                }

            }

            .ink-envy-image {
                background: url('../images/ink_envy_carousel.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            .human-image {
                background: url('../images/humans_slide.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }

    // active carousel slides
    @for $i from 1 through map_get($css-carousel, slides) {
        #carousel-#{$i}:checked ~ .carousel-slides .carousel-inner {
            margin-left: (-100% * ($i - 1));
        }
    }
}
